/**
 * Used to tag events (online / [City] / [Address])
 * … and headline on contact page
 */

.a-tag {
	font: var(--font-label-small);
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing-uppercase);
	color: var(--color-brand-orange-dark);

	&[data-size="medium"] {
		font: var(--font-label-medium);
	}

	&[data-size="large"] {
		font: var(--font-label-large);
		font-weight: 400;
	}
}
