.m-banner-orange {
	background-color: var(--color-brand-orange);
	background-image: url('/assets/images/gradient-orange.jpg');
	background-size: cover;

	> div {
		box-sizing: border-box;
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-inline-start: var(--space-1000);

		> div {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center;
			row-gap: var(--space-400);
			padding-block: var(--space-800);
			font: var(--font-paragraph-large);
		}
	}
}
