.m-banner-orange {
	background-color: var(--color-brand-orange);
	background-image: url('/assets/images/gradient-orange.jpg');
	background-size: cover;

	> div {
		box-sizing: border-box;
		margin-inline: auto;
		max-inline-size: calc(var(--max-width-content) + var(--padding-inline-root) * 2);
		padding-inline: var(--padding-inline-root);
		display: grid;
		align-items: end;

		> div {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center;
			row-gap: var(--space-400);
			padding-block-start: calc(var(--padding-inline-root) + var(--space-200));
			font: var(--font-paragraph-large);
		}

		> img {
			max-inline-size: min(calc(380rem / 16), 90vw);
		}
	}

	@media (min-width: 32em) {
		> div {
			grid-template-columns: 1fr 1fr;

			> div {
				padding-block: var(--space-800);
			}
			> img {
				max-inline-size: 100%;
			}
		}
	}
}
