.m-cite {
	padding-inline-start: calc(2ch - var(--border-size-medium));
	border-inline-start: var(--border-size-medium) solid currentcolor;
	font: var(--font-paragraph-large);

	> figcaption {
		margin-block-start: var(--space-200);
	}
}
