.m-figure {
	margin-inline: auto;
	max-inline-size: var(--max-width-content);

	&[data-max-width=text-width] {
		max-inline-size: var(--max-width-text);
	}

	> figcaption {
		margin-block-start: var(--space-200);
		font: var(--font-paragraph-small);

		&[data-kind=secondary] {
			margin-block-start: var(--space-150);
			color: var(--color-content-secondary);
		}
	}

	&[data-caption-align=end] {
		text-align: end;
	}
}
