.m-grid {
	margin-inline: auto;
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
	inline-size: calc(100% - var(--padding-inline-root) * 2);
	padding-inline: var(--padding-inline-root);
	display: flex;
	flex-direction: column;
	row-gap: var(--space-600);

	> ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(calc(240rem / 16), 1fr));
		column-gap: var(--padding-inline-root);
		row-gap: var(--gap-inline);
		list-style: none;
	}

	&[data-text-align="center"] {
		> ul {
			text-align: center;
		}
	}

	.m-teaser + & {
		margin-block-start: var(--space-800);
	}

	@media (min-width: 36em) {
		> ul {
			column-gap: var(--gap-inline);
		}
	}
	@media (min-width: 64em) {
		> ul {
			grid-template-columns: repeat(auto-fill, minmax(calc(292rem / 16), 1fr));
		}
	}
}

.m-grid__item {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-300);

	> a {
		display: inherit;
		flex-direction: inherit;
		row-gap: inherit;
		text-decoration: none;
	}

	time {
		display: block;
		font: var(--font-label-medium);
		font-weight: 400;
	}

	h3 {
		font: var(--font-heading-small);
		transition-property: color;
		transition-duration: var(--duration-xsmall);
	}

	img {
		max-inline-size: calc(336rem / 16);
		inline-size: 100%;
	}

	img + time {
		margin-block-start: var(--space-200);
	}

	img + h3 {
		margin-block-start: var(--space-300);
	}

	> a:where(:focus-visible, :hover) {
		h3 {
			color: var(--color-brand-orange);
		}
	}

	.m-grid[data-text-align="center"] & img {
		margin-inline: auto;
	}
}
