.m-grid {
	margin-inline: auto;
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
	inline-size: calc(100% - var(--padding-inline-root) * 2);
	padding-inline: var(--padding-inline-root);
	display: flex;
	flex-direction: column;
	row-gap: var(--space-600);

	> ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(calc(160rem / 16), 1fr));
		column-gap: var(--padding-inline-root);
		row-gap: var(--gap-inline);
		list-style: none;
	}

	&[data-text-align=center] {
		> ul {
			text-align: center;
		}
	}

	.m-text + & {
		margin-block-start: var(--space-500);
	}

	@media (min-width: 36em) {
		> ul {
			column-gap: var(--gap-inline);
			grid-template-columns: repeat(auto-fill, minmax(calc(200rem / 16), 1fr));
		}
		&[data-columns="2"] {
			> ul {
				grid-template-columns: repeat(auto-fill, minmax(calc(240rem / 16), 1fr));
			}
		}
	}
	@media (min-width: 50em) {
		> ul {
			grid-template-columns: repeat(auto-fill, minmax(calc(240rem / 16), 1fr));
		}
		&[data-columns="2"] {
			> ul {
				grid-template-columns: repeat(auto-fill, minmax(calc(340rem / 16), 1fr));
			}
		}
	}
	@media (min-width: 64em) {
		> ul {
			grid-template-columns: repeat(auto-fill, minmax(calc(292rem / 16), 1fr));
		}
		&[data-columns="2"] {
			> ul {
				grid-template-columns: repeat(auto-fill, minmax(calc(400rem / 16), 1fr));
			}
		}
	}
}

.m-grid__item {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-200);

	> a {
		display: inherit;
		flex-direction: inherit;
		row-gap: inherit;
		text-decoration: none;
	}

	> a > div {
		display: grid;
		grid-template-columns: 8ch 1fr;
		column-gap: var(--space-200);
		font: var(--font-label-medium);
		font-weight: 400;

		> em {
			grid-column-start: 2;
			font-style: normal;
			color: var(--color-content-secondary);
		}
	}

	h3 {
		font: var(--font-heading-small);
		text-wrap-style: pretty;
		transition-property: color;
		transition-duration: var(--duration-xsmall);
	}

	img {
		max-inline-size: calc(352rem / 16);
		inline-size: 100%;
	}

	img + :where(time, span) {
		margin-block-start: var(--space-200);
	}

	img + h3 {
		margin-block-start: var(--space-300);
	}

	> a:where(:focus-visible, :hover) {
		h3 {
			color: var(--color-brand-orange);
		}
	}

	.m-grid[data-columns="2"] & img {
		max-inline-size: none;
	}
	.m-grid[data-text-align=center] & img {
		margin-inline: auto;
	}
}
