.m-info-list {
	display: grid;
	row-gap: var(--space-400);

	> ul {
		display: inherit;
		grid-template-columns: 1fr 1fr;
		column-gap: var(--space-400);
		row-gap: var(--space-400);
		list-style: none;

		> li {
			text-wrap-style: pretty;
		}

		> li > a {
			text-decoration: none;
			> strong {
				display: block;
				text-decoration: underline;
			}
		}
	}
}
