.m-nav-primary {
	margin-inline-end: calc(var(--space-400) * -1);
	block-size: 100%;
}

.m-nav-primary__container {
	/* Use not (min-width: 64em) when support for iOS15.8 drops */
	@media (max-width: 63.9999em) {
		position: fixed;
		display: grid;
		inset-block-start: var(--height-header);
		block-size: calc(100vh - var(--height-header) - var(--space-600) - var(--space-1000));
		inline-size: 100vw;
		row-gap: var(--space-600);
		padding-block-start: var(--space-600);
		padding-block-end: var(--space-1000);
		align-content: start;
		background-color: transparent;
		overflow: auto;

		&.\:popover-open,
		&:popover-open {
			opacity: 1;
			transition-duration: var(--duration-medium);
		}
	}
	@media (min-width: 64em) {
		block-size: 100%;
		display: grid;
		grid-template-rows: auto auto;
	}
}

.m-nav-primary__nav {
	color: var(--color-brand-purple);

	/* Use not (min-width: 64em) when support for iOS15.8 drops */
	@media (max-width: 63.9999em) {
		> ul {
			opacity: 0;
			transition-property: opacity, display;
			transition-duration: var(--duration-xsmall);
			transition-behavior: allow-discrete;

			> li {
				translate: -0.5em 0;
				opacity: 0;
				transition-property: translate, opacity;
				transition-duration: inherit;
				transition-delay: calc(var(--duration-xsmall) * (5 - 1) * 0.5);

				&:nth-child(1) {
					transition-delay: calc(var(--duration-xsmall) * (1 - 1) * 0.5);
				}
				&:nth-child(2) {
					transition-delay: calc(var(--duration-xsmall) * (2 - 1) * 0.5);
				}
				&:nth-child(3) {
					transition-delay: calc(var(--duration-xsmall) * (3 - 1) * 0.5);
				}
				&:nth-child(4) {
					transition-delay: calc(var(--duration-xsmall) * (4 - 1) * 0.5);
				}
			}
		}

		.m-nav-primary__container:is(.\:popover-open, :popover-open) & {
			> ul {
				opacity: 1;
				transition-duration: var(--duration-medium);

				> li {
					opacity: 1;
					translate: 0 0;

					@starting-style {
						opacity: 0;
						translate: -0.5em 0;
					}
				}

				@starting-style {
					opacity: 0;
				}
			}
		}
	}
	@media (min-width: 64em) {
		justify-self: end;
		> ul {
			display: flex;
			block-size: 100%;
			opacity: 1;
		}
		> ul > li {
			display: flex;
		}
	}
}

.m-nav-primary__subnav {
	position-area: bottom span-right;
	@media (min-width: 64em) {
		margin-block-start: calc(var(--_inset-block-start) * 1);
		padding-block-start: calc(var(--_inset-block-start) * -1);
		color: var(--color-content-primary);
		background-color: var(--color-background-header);
		backdrop-filter: var(--backdrop-header);
		box-shadow: var(--box-shadow-header);
	}
}


.m-nav-primary__language-switch {
	color: var(--color-content-primary);
	text-transform: uppercase;
	> ul {
		display: flex;
		padding-inline: calc(var(--space-400) - var(--space-100));
	}
	> ul > li > a {
		padding-inline: var(--space-100);
		text-decoration: none;
		font: var(--font-label-large);
		font-weight: 400;

		&[aria-current="page"] {
			color: var(--color-content-secondary);
		}
	}
	@media (max-width: 63.9999em) {

	}
	@media (min-width: 64em) {
		grid-row-start: 1;
		> ul {
			justify-content: end;
		}
		> ul > li > a {
			font: var(--font-label-small);
			font-weight: 400;
		}
	}
}
