.m-nav-primary {
	margin-inline-end: calc(var(--padding-inline-root) * -1);
	block-size: var(--header-height);

	> ul {
		color: var(--color-brand-purple);
	}

	@media not (min-width: 64em) {
		> ul {
			position: fixed;
			top: calc(120rem / 16);
			block-size: calc(100vh - calc(120rem / 16) - var(--space-600) * 2);
			inline-size: 100vw;
			row-gap: var(--space-600);
			padding-block: var(--space-600);
			align-content: start;
			background-color: transparent;
			opacity: 0;
			overflow: auto;
			transition-property: opacity, display;
			transition-duration: var(--duration-xsmall);
			transition-behavior: allow-discrete;

			> li {
				translate: -0.5em 0;
				opacity: 0;
				transition-property: translate, opacity;
				transition-duration: inherit;

				&:nth-child(1) {
					transition-delay: calc(var(--duration-xsmall) * (1 - 1) * 0.5);
				}
				&:nth-child(2) {
					transition-delay: calc(var(--duration-xsmall) * (2 - 1) * 0.5);
				}
				&:nth-child(3) {
					transition-delay: calc(var(--duration-xsmall) * (3 - 1) * 0.5);
				}
				&:nth-child(4) {
					transition-delay: calc(var(--duration-xsmall) * (4 - 1) * 0.5);
				}
			}

			&:popover-open {
				display: grid;
				opacity: 1;
				transition-duration: var(--duration-medium);

				> li {
					opacity: 1;
					translate: 0 0;

					/* @starting-style {
						opacity: 0;
						translate: -0.5em 0;
					} */
				}

				/* @starting-style {
					opacity: 0;
				} */
			}
		}
	}
	@media (min-width: 64em) {
		justify-self: end;
		> ul {
			display: flex;
			block-size: 100%;
			opacity: 1;
		}
		> ul > li {
			display: flex;
		}
	}
}
