.m-nav-primary {
	margin-inline-end: calc(var(--padding-inline-root) * -1);
	block-size: var(--header-height);

	> ul {
		color: var(--color-brand-purple);
	}

	/* Use not (min-width: 64em) when support for iOS15.8 drops */
	@media (max-width: 63.9999em) {
		> ul {
			position: fixed;
			display: grid;
			top: calc(120rem / 16);
			block-size: calc(100vh - calc(120rem / 16) - var(--space-600) * 2);
			inline-size: 100vw;
			row-gap: var(--space-600);
			padding-block: var(--space-600);
			align-content: start;
			background-color: transparent;
			opacity: 0;
			overflow: auto;
			transition-property: opacity, display;
			transition-duration: var(--duration-xsmall);
			transition-behavior: allow-discrete;

			> li {
				translate: -0.5em 0;
				opacity: 0;
				transition-property: translate, opacity;
				transition-duration: inherit;
				transition-delay: calc(var(--duration-xsmall) * (5 - 1) * 0.5);

				&:nth-child(1) {
					transition-delay: calc(var(--duration-xsmall) * (1 - 1) * 0.5);
				}
				&:nth-child(2) {
					transition-delay: calc(var(--duration-xsmall) * (2 - 1) * 0.5);
				}
				&:nth-child(3) {
					transition-delay: calc(var(--duration-xsmall) * (3 - 1) * 0.5);
				}
				&:nth-child(4) {
					transition-delay: calc(var(--duration-xsmall) * (4 - 1) * 0.5);
				}
			}

			&.\:popover-open,
			&:popover-open {
				opacity: 1;
				transition-duration: var(--duration-medium);

				> li {
					opacity: 1;
					translate: 0 0;

					@starting-style {
						opacity: 0;
						translate: -0.5em 0;
					}
				}

				@starting-style {
					opacity: 0;
				}
			}
		}
	}
	@media (min-width: 64em) {
		justify-self: end;
		> ul {
			display: flex;
			block-size: 100%;
			opacity: 1;
		}
		> ul > li {
			display: flex;
		}
	}
}

.m-nav-primary__subnav {
	position-area: bottom span-right;
	@media (min-width: 64em) {
		background-color: var(--color-background-header);
		backdrop-filter: var(--backdrop-header);
		box-shadow: var(--box-shadow-header);
	}
}
