.m-nav-primary {
	margin-inline-end: calc(var(--padding-inline-root) * -1);
	block-size: calc(60rem / 16);

	> ul {
		&:popover-open {
			display: grid;
			position: absolute;
			z-index: -1;
			top: calc(120rem / 16);
			block-size: 100vh;
			inline-size: 100vw;
			row-gap: var(--space-600);
			padding-block-start: var(--space-600);
			align-content: start;
			background-color: var(--color-brand-orange);
		}
	}


	@media (min-width: 64em) {
		> ul {
			display: flex;
			block-size: 100%;
		}
		> ul > li {
			display: flex;
		}
	}
}
