.m-short-introduction {
	display: grid;
	column-gap: var(--gap-inline);
	row-gap: var(--space-400);
	font: var(--font-paragraph-medium);

	> h2 {
		grid-column: 1 / -1;
	}

	> img {
		max-inline-size: calc(100% - var(--padding-inline-root) * 5);
	}

	@media (min-width: 38em) {
		grid-template-columns: 1fr 1fr;

		> img {
			max-inline-size: 100%;
		}
	}
}
