.m-text {
	max-inline-size: var(--max-width-text);
	font: var(--font-paragraph-large);
	letter-spacing: var(--letter-spacing-display);

	a {
		transition-duration: var(--duration-xsmall);
		transition-property: color;

		&:where(:focus-visible, :hover) {
			color: var(--color-brand-orange-dark);
			transition-timing-function: ease-out;
		}
	}

	> :where(ul, ol, p) > em {
		padding-inline: 0.2em;
		border-radius: 4px;
		font-style: normal;
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		background-image: linear-gradient(to left top,
			hsl(28, 100%, 82%),
			hsl(48, 100%, 70%)
		);
	}

	> h1 {
		font: var(--font-heading-large);
	}
	> h2 {
		font: var(--font-heading-medium);
	}
	> h3 {
		font: var(--font-heading-small);
	}

	> :where(ul, ol) {
		padding-inline-start: 2ch;
		text-wrap-style: pretty;
		list-style-type: disc;

		li + li {
			margin-block-start: var(--space-200);
		}
	}

	> dl {
		display: grid;
		row-gap: var(--space-150);
	}
	> dl > dt {
		font: var(--font-label-medium);
		font-weight: 400;
	}
	> dl > dd {
		font: var(--font-label-large);
	}
	> dl > dd + dt {
		margin-block-start: var(--space-200);
	}

	> * + * {
		margin-block-start: var(--space-400);

		&:where(h2, h3) {
			margin-block-start: var(--space-600);
		}
	}

	&[data-text-size=large] {
		font: var(--font-paragraph-xlarge);
	}
	&[data-text-size=small] {
		font: var(--font-paragraph-medium);
		letter-spacing: normal;

		> :where(ul, ol) {
			li + li {
				margin-block-start: var(--space-100);
			}
		}

		> * + * {
			margin-block-start: var(--space-300);
		}
	}
	&[data-text-size=xsmall] {
		font: var(--font-paragraph-small);
		letter-spacing: normal;

		> * + * {
			margin-block-start: var(--space-300);
		}
	}

	&[data-width=large] {
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
	}
}
