.m-text {
	font: var(--font-paragraph-large);
	letter-spacing: var(--letter-spacing-display);

	a {
		transition-duration: var(--duration-xsmall);
		transition-property: color;

		&:where(:focus-visible, :hover) {
			color: var(--color-brand-orange-dark);
			transition-timing-function: ease-out;
		}
	}

	> h1 {
		font: var(--font-heading-large);
	}
	> h2 {
		font: var(--font-heading-medium);
	}
	> h3 {
		font: var(--font-heading-small);
	}

	> :where(ul, ol) {
		padding-inline-start: 2ch;
		text-wrap-style: pretty;

		li + li {
			margin-block-start: var(--space-300);
		}
	}

	> dl {
		display: grid;
		row-gap: var(--space-150);
	}
	> dl > dt {
		font: var(--font-label-medium);
		font-weight: 400;
	}
	> dl > dd {
		font: var(--font-label-large);
	}

	> * + * {
		margin-block-start: var(--space-400);

		&:where(h2, h3) {
			margin-block-start: var(--space-600);
		}
	}

	&[data-text-size=large] {
		font: var(--font-paragraph-xlarge);
	}
	&[data-text-size=small] {
		font: var(--font-paragraph-medium);
		letter-spacing: normal;

		> * + * {
			margin-block-start: var(--space-300);
		}
	}
	&[data-text-size=xsmall] {
		font: var(--font-paragraph-small);
		letter-spacing: normal;

		> * + * {
			margin-block-start: var(--space-300);
		}
	}

	&[data-width=large] {
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
	}
}
