/**
 * Used for blog-entry, event and knowledge
 */
.m-teaser-text {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-100);

	> address,
	> em,
	> time {
		font: var(--font-label-xlarge);
		font-weight: 400;
		text-wrap-style: balance;
	}

	> em,
	> address {
		color: var(--color-brand-orange-dark);
	}

	> .a-button-back + * {
		margin-block-start: var(--space-500);
	}

	> h1 {
		margin-block-start: var(--space-300);
		padding-block-start: var(--space-600);
		border-block-start: var(--border-size-medium) solid currentcolor;
	}

	> h2 {
		margin-block-start: var(--space-200);
	}
}

.m-teaser-text__projects {
	color: var(--color-content-secondary);
	font: var(--font-label-medium);
	font-weight: 400;

	> a {
		text-decoration: none;

		&:where(:focus-visible, :hover) {
			text-decoration: underline;
		}
	}
}

.m-teaser-text__tags {
	display: flex;
	column-gap: var(--space-200);
	color: var(--color-content-secondary);
	font: var(--font-label-medium);
	font-weight: 400;

	> em {
		font-style: normal;
	}
}
