.m-teaser {
	margin-inline: auto;
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
	inline-size: 100%;
	padding-inline: var(--padding-inline-root);
	display: grid;
	column-gap: var(--gap-inline);
	row-gap: var(--space-500);

	> img {
		max-inline-size: calc(516rem / 16);
		inline-size: 100%;
		margin-inline-end: calc(var(--padding-inline-root) * -1);
	}

	@media (min-width: 44em) {
		grid-template-columns: 1fr 1fr;

		&:has(> img) {
			grid-template-rows: auto 1fr;
		}

		> img {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
		}
	}
}

.m-teaser__text {
		display: grid;
		row-gap: var(--space-400);
		align-content: start;

	> dl {
		display: grid;
		row-gap: var(--space-150);
	}
	> dl > dt {
		font: var(--font-label-medium);
		font-weight: 400;
	}
	> dl > dd {
		font: var(--font-label-large);
	}

	> strong {

	}
}
