/**
 * Used for blog-entry, event and knowledge
 */
.m-teaser-text {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-100);

	> address,
	> time {
		font: var(--font-label-xlarge);
		font-weight: 400;
	}

	> address {
		color: var(--color-brand-orange-dark);
	}

	> .a-button-back + * {
		margin-block-start: var(--space-500);
	}

	> h1 {
		margin-block-start: var(--space-300);
		padding-block-start: var(--space-600);
		border-block-start: var(--border-size-medium) solid currentcolor;
	}

	> h2 {
		margin-block-start: var(--space-200);
	}


}
