.m-teaser {
	margin-inline: auto;
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
	inline-size: calc(100% - var(--padding-inline-root) * 2);
	padding-inline: var(--padding-inline-root);
	display: grid;
	column-gap: calc(var(--gap-inline) * 2);
	row-gap: var(--space-500);

	> img {
		max-inline-size: calc(528rem / 16);
		inline-size: 100%;
		margin-inline-end: calc(var(--padding-inline-root) * -1);
	}

	@media (min-width: 44em) {
		grid-template-columns: 1fr 1fr;

		&:has(> img) {
			grid-template-rows: auto 1fr;
		}

		> img {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
		}
	}
}

.m-teaser__text {
	grid-column-start: 1;
}
