.m-text {
	max-inline-size: var(--max-width-text);
	inline-size: 100%;
	font: var(--font-paragraph-large);
	letter-spacing: var(--letter-spacing-display);

	a {
		transition-duration: var(--duration-xsmall);
		transition-property: color;

		&:where(:focus-visible, :hover) {
			color: var(--color-brand-orange-dark);
			transition-timing-function: ease-out;
		}
	}

	> em,
	> :where(ul, ol, p) > em {
		padding-inline: 0.05em;
		border-radius: 4px;
		font-style: normal;
		font-weight: 700;
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		background-position: 0 0.26lh;
		background-size: 100% 0.45lh;
		background-repeat: no-repeat;
		background-image: linear-gradient(to left top,
			hsl(48, 100%, 70%),
			hsl(48, 100%, 70%)
		);
	}

	> h1 {
		font: var(--font-heading-large);
		letter-spacing: normal;
	}
	> h2 {
		font: var(--font-heading-medium);
		letter-spacing: normal;
	}
	> h3 {
		font: var(--font-heading-small);
		letter-spacing: normal;
	}

	> :where(ul, ol) {
		padding-inline-start: 2ch;
		text-wrap-style: pretty;
		list-style-type: disc;

		li + li {
			margin-block-start: var(--space-200);
		}
	}

	> dl {
		display: grid;
		row-gap: var(--space-150);
	}
	> dl > dt {
		font: var(--font-label-medium);
		font-weight: 400;
	}
	> dl > dd {
		font: var(--font-label-large);
	}
	> dl > dd + dt {
		margin-block-start: var(--space-200);
	}

	> * + * {
		margin-block-start: var(--space-400);

		&:where(h2, h3) {
			margin-block-start: var(--space-600);
		}
	}

	&[data-text-size=large] {
		font: var(--font-paragraph-xlarge);
	}
	&[data-text-size=small] {
		font: var(--font-paragraph-medium);
		letter-spacing: normal;

		> :where(ul, ol) {
			li + li {
				margin-block-start: var(--space-100);
			}
		}

		> * + * {
			margin-block-start: var(--space-300);
		}
	}
	&[data-text-size=xsmall] {
		font: var(--font-paragraph-small);
		letter-spacing: normal;

		> * + * {
			margin-block-start: var(--space-300);
		}
	}

	&[data-width=large] {
		box-sizing: border-box;
		margin-inline: auto;
		max-inline-size: calc(var(--max-width-content) + var(--padding-inline-root));
		padding-inline: var(--padding-inline-root);

		> * {
			max-width: max(var(--max-width-text), 55ch);
		}
	}

	.o-blocks > &[data-text-size=large] + *,
	.o-blocks > .m-teaser-start + & {
		margin-block-start: var(--space-500);
	}

	.m-logos > .a-heading + & {
		margin-block-start: var(--space-600);

		&[data-text-size=small] {
			margin-block-start: var(--space-400);
		}
	}
}
