/**
 * Used for blog-entry, event and knowledge
 */
.m-teaser-text {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-100);

	> time {
		font: var(--font-heading-medium);
		font-weight: 400;
	}

	> h1 {
		margin-block-start: var(--space-200);
		padding-block-start: var(--space-600);
		border-block-start: var(--border-size-medium) solid currentcolor;
	}

	> h2 {
		margin-block-start: var(--space-200);
	}
}
