.o-blocks {
	display: grid;
	grid-template-columns: var(--grid-template-columns-breakout);
	row-gap: var(--gap-block);

	> * {
		grid-column: 2 / 3;
	}
	> :where(
		.o-list-events,
		.o-background,
		.m-teaser,
		m-gallery,
		.m-figure,
		.m-video,
		.m-banner-orange,
		.m-grid,
		.m-text[data-width=large]
	) {
		grid-column: 1 / -1;
	}
	> :where(.a-button) {
		justify-self: start;
	}

	main > &:first-child {
		margin-block-start: var(--space-1000);
	}

	:where(.m-teaser) + & {
		margin-block-start: var(--space-1000);
	}
	:where(.m-teaser-home) + & {
		margin-block-start: var(--space-800);
	}

	&[data-gap=small] {
		row-gap: var(--space-600);
	}

	/* DEPRECATED */
	&[data-variant=blog-entry] {
		font: var(--font-paragraph-large);
	}
}
