.o-blog-entry {
	margin-block-start: var(--space-1000);
	display: grid;
	grid-template-columns: 1fr var(--max-width-text) 1fr;
	row-gap: var(--space-600);

	> * {
		grid-column: 2 / 3;
	}
}

 .o-blog-entry__header {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-300);

	> time {
		font: var(--font-heading-medium);
		font-weight: 400;
	}
}

.o-blog-entry__content {
	grid-column: 1 / -1;
}
