.o-contact {
	max-inline-size: var(--max-width-content);
	margin-inline: auto;
	padding-inline: var(--padding-inline-root);
}

.o-contact__header {
	margin-block-start: var(--space-1000);
	display: grid;

	@media (min-width: 30em) {
		grid-template-columns: 1fr 1fr;

		> * {
			grid-column: 1 / -1;
			grid-row: 1 / -1;
		}
	}
}

.o-contact__header-text {
	grid-column: 1 / 2;
	padding-block-end: calc(40rem / 16);
}

.o-contact__header-image {
	align-self: end;
	margin-block-start: calc(-30rem / 16);
	z-index: -1;
	margin-inline: calc(var(--padding-inline-root) * -1);

	> img {
		min-height: calc(112rem / 16);
		object-fit: cover;
		object-position: 100% center;
	}
}

.o-contact__contact {
	margin-block-start: var(--space-1000);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(248rem / 16), 1fr));
	column-gap: var(--gap-inline);
	row-gap: var(--space-800);

	> div {
		display: grid;
		align-content: start;
		row-gap: var(--space-400);
	}

	> div > h2 {
		font: var(--font-label-medium);
		text-transform: uppercase
	}
}

.o-contact__social-media {
	display: flex;
	column-gap: var(--space-200);
	list-style: none;

	a {
		display: block;

		&:where(:focus-visible, :hover) {
			opacity: 0.7;
		}
	}
}
