.o-event {
	margin-block-start: var(--space-1000);
	display: grid;
	grid-template-columns: var(--grid-template-columns-breakout);
	row-gap: var(--space-600);

	> * {
		grid-column: 2 / 3;
	}
}

 .o-event__header {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-100);

	> time {
		font: var(--font-heading-medium);
		font-weight: 400;
	}

	> h1 {
		margin-block-start: var(--space-200);
		padding-block-start: var(--space-600);
		border-block-start: var(--border-size-medium) solid currentcolor;
	}

	> h2 {
		margin-block-start: var(--space-200);
	}
}

.o-event__content {
	grid-column: 1 / -1;
}
