.o-footer {
	margin-block-start: auto;
	padding-block-start: var(--space-1000);

	main:has(> .o-blocks:last-child > .m-banner-orange:last-child) + & {
		padding-block-start: 0;
	}
}

.o-footer__newsletter {
	color: var(--color-white);
	background-color: var(--color-brand-purple);
	background-image: url('/assets/images/gradient-blue.jpg');
	background-size: cover;

	> div {
		max-inline-size: var(--max-width-content);
		margin-inline: auto;
		padding-block: var(--space-900);
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		column-gap: var(--gap-inline);

		> img {
			justify-self: center;
		}

		> div {
			display: flex;
			flex-direction: column;
			align-items: start;
			row-gap: var(--space-300);
		}
	}
}

.o-footer__sitemap {
	padding-block: var(--space-500);
	background-color: var(--color-brand-orange);

	> div {
		max-inline-size: var(--max-width-content);
		margin-inline: auto;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: var(--gap-inline);

		> address {
			grid-column: 1 / 4;
			font: var(--font-paragraph-medium);

			> p {
				margin-block-end: var(--space-400);
			}
		}

		> nav {
			display: contents;

			a {
				text-decoration: none;

				&:where(:focus-visible, :hover) {
					text-decoration: underline;
				}
			}
		}
	}
}

.o-footer__social-media {
	display: flex;
	column-gap: var(--space-200);

	a {
		display: block;

		&:where(:focus-visible, :hover) {
			opacity: 0.7;
		}
	}
}

.o-footer__funding {
	padding-block: var(--space-500);

	> div {
		max-inline-size: var(--max-width-content);
		margin-inline: auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: var(--gap-inline);
		font: var(--font-paragraph-small);

		> ul {
			list-style: none;
			display: flex;
			align-items: center;
			column-gap: var(--space-600);
		}
	}
}

