.o-footer {
	margin-block-start: auto;
	padding-block-start: var(--space-1000);

	main:has(> .o-blocks:last-child > .m-banner:last-child) + & {
		padding-block-start: 0;
	}
}

.o-footer__newsletter {
	color: var(--color-white);
	background-color: var(--color-brand-purple);
	background-image: url('/assets/images/gradient-blue.jpg');
	background-size: cover;

	> div {
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
		padding-block: var(--space-900);
		padding-inline: var(--padding-inline-root);
		display: grid;
		align-items: center;
		column-gap: var(--gap-inline);
		row-gap: var(--space-400);

		> img {
			justify-self: center;
		}

		> div {
			display: flex;
			flex-direction: column;
			align-items: start;
			row-gap: var(--space-300);
		}
	}

	@media (min-width: 32em) {
		> div {
			grid-template-columns: 1fr 1fr;
		}
	}
}

.o-footer__sitemap {
	padding-block: var(--space-500);
	background-color: var(--color-brand-rose);
	font: var(--font-paragraph-medium);

	> div {
		box-sizing: content-box;
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
		padding-inline: var(--padding-inline-root);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: var(--gap-inline);
		row-gap: var(--gap-inline);

		> address {
			grid-column: 1 / 4;
			font-style: normal;

			> p {
				margin-block-end: var(--space-400);

				> a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		> nav {
			display: contents;
		}
	}

	@media (min-width: 50em) {
		> div {
			grid-template-columns: repeat(6, 1fr);

			> address {
				grid-column: 1 / 4;
			}
		}
	}
}

.o-footer__nav-category {
	grid-column-end: span 2;

	> ul {
		margin-block-start: var(--space-100);
	}

	a {
		padding-block: var(--space-150);
		display: block;
		text-decoration: none;
		font: var(--font-label-medium);
		font-weight: 400;

		&:where(:focus-visible, :hover) {
			text-decoration: underline;
		}
	}

	@media (min-width: 50em) {
		grid-column-end: span 1;
	}
}

.o-footer__social-media {
	grid-column: 4 / -1;
	grid-row-start: 1;
	justify-self: end;

	> ul {
		display: flex;
		column-gap: var(--space-400);
	}

	a {
		display: block;

		&:where(:focus-visible, :hover) {
			opacity: 0.7;
		}
	}

	@media (min-width: 50em) {
		grid-column-start: auto;
		grid-row-start: auto;
		justify-self: auto;
	}
}

.o-footer__funding {
	padding-block: var(--space-500);

	> div {
		box-sizing: content-box;
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
		padding-inline: var(--padding-inline-root);
		display: grid;
		align-items: start;
		column-gap: var(--space-800);
		row-gap: var(--gap-inline);
		font: var(--font-paragraph-small);
	}

	@media (min-width: 50em) {
		> div {
			grid-template-columns: repeat(12, 1fr);
			> img {
				grid-column-end: span 7;
			}
			> ul {
				grid-column-start: 8;
				grid-column-end: -1;
			}
		}
	}
}
