@keyframes translate {
	from {
		translate: 0 0;
	}
	to {
		translate: 0 var(--_inset-block-start);
	}
}

.o-header {
	--header-height: calc(60rem / 16);
	--_width-logo: calc(160rem / 16);
	--_offset-logo: calc(10rem / 16);
	--_inset-block-start: calc(10rem / 16 * -1);

	&::after {
		content: '';
		display: none;
		position: fixed;
		z-index: -1;
		inset: 0;
		block-size: calc(100vh + var(--_inset-block-start) * -1);
		opacity: 0;
		background-color: var(--color-brand-orange);
		transition-property: opacity, display;
		transition-duration: var(--duration-xsmall);
		transition-behavior: allow-discrete;
	}

	&:has(.m-nav-primary > ul:popover-open) {
		&::after {
			content: '';
			display: block;
			opacity: 1;

			@starting-style {
				opacity: 0;
			}
		}
	}

	@media (max-width: 26em) {
		--header-height: calc(48rem / 16);
		--_width-logo: calc(120rem / 16);
	}

	@media (min-height: 20em) {
		z-index: var(--z-index-header);
		position: sticky;
		inset-block-start: var(--_inset-block-start);
		background-color: color-mix(in hsl, var(--color-background-primary), transparent 20%);
		backdrop-filter: blur(10px) saturate(1.1);

		@media (prefers-reduced-motion: no-preference) {
			@supports (animation-timeline: scroll()) {
				inset-block-start: 0;
				animation-name: translate;
				animation-timing-function: ease-out;
				animation-timeline: scroll();
				animation-range: 0 calc(3 * 80rem / 16);
				animation-fill-mode: forwards;
			}
		}
	}
}

.o-header > div {
	margin-block-start: calc(20rem / 16 + var(--_offset-logo));
	margin-block-end: calc(var(--_offset-logo) * -1);
	display: grid;
	grid-template-columns:
		var(--padding-inline-root)
		auto
		1fr
		auto
		var(--padding-inline-root);
	background-color: var(--color-brand-orange);
	box-shadow: var(--box-shadow-header);

	@media (min-width: 30rem) {
		grid-template-columns:
			max(calc(50vw - var(--max-width-content) * 0.5), var(--padding-inline-root))
			calc(var(--_width-logo) + var(--padding-inline-root)) auto auto
			max(calc(50vw - var(--max-width-content) * 0.5), var(--padding-inline-root));
	}
}

.o-header__logo {
	margin-block: calc(var(--_offset-logo) * -1);
	grid-column: 1 / 3;
	display: flex;
	justify-content: end;
	background-color: var(--color-brand-purple);
	box-shadow: var(--box-shadow-header);
	border-end-end-radius: var(--border-radius-xlarge);
	border-start-end-radius: var(--border-radius-xlarge);

	> a {
		display: flex;
		align-items: center;
		padding-inline: var(--padding-inline-root);
	}

	> a > img {
		inline-size: var(--_width-logo);
	}
}

.o-header__title {
	justify-self: start;
	padding-block: var(--space-200);
	padding-inline: var(--space-400);
	font: var(--font-label-large);
	display: flex;
	align-items: center;
	text-decoration: none;
}
