@keyframes translate {
	from {
		translate: 0 0;
	}
	to {
		translate: 0 var(--_inset-block-start);
	}
}

.o-header {
	--_width-logo: calc(160rem / 16);
	--_inset-block-start: calc(4rem / 16 * -1);
	padding-block-start: calc(var(--_inset-block-start) * -1 + 4rem / 16);

	&::after {
		content: '';
		display: none;
		position: fixed;
		z-index: -1;
		inset: 0;
		block-size: calc(100vh + var(--_inset-block-start) * -1);
		opacity: 0;
		background-color: var(--color-brand-orange);
		transition-property: opacity, display;
		transition-duration: var(--duration-xsmall);
		transition-behavior: allow-discrete;
	}

	&:has(.m-nav-primary__container:popover-open) {
		&::after {
			content: '';
			display: block;
			opacity: 1;

			/* @starting-style {
				opacity: 0;
			} */
		}
	}

	@media (max-width: 26em) {
		--_width-logo: calc(120rem / 16);
	}

	@media (min-height: 20em) {
		z-index: var(--z-index-header);
		position: sticky;
		inset-block-start: var(--_inset-block-start);
		background-color: var(--color-background-header);
		backdrop-filter: var(--backdrop-header);

		@media (prefers-reduced-motion: no-preference) {
			@supports (animation-timeline: scroll()) {
				inset-block-start: 0;
				animation-name: translate;
				animation-timing-function: ease-out;
				animation-timeline: scroll();
				animation-range: 0 calc(3 * 80rem / 16);
				animation-fill-mode: forwards;
			}
		}
	}
	@media (min-width: 64em) {
		--_inset-block-start: calc(12rem / 16 * -1);
	}
}

.o-header > div {
	display: grid;
	grid-template-columns:
		var(--padding-inline-root)
		auto
		1fr
		var(--padding-inline-root);
	box-shadow: var(--box-shadow-header);

	@media (min-width: 30rem) {
		grid-template-columns:
			max(calc(50vw - var(--max-width-content) * 0.5), var(--padding-inline-root))
			calc(var(--_width-logo) + var(--padding-inline-root))
			1fr
			max(calc(50vw - var(--max-width-content) * 0.5), var(--padding-inline-root));
	}
}

.o-header__logo {
	grid-column: 1 / 3;
	display: flex;
	justify-content: end;

	> a {
		display: flex;
		align-items: center;
		padding-block-start: calc(13rem / 16);
		padding-block-end: calc(10rem / 16);
		padding-inline: var(--padding-inline-root);
	}

	> a > img {
		inline-size: var(--_width-logo);
	}
}
