.o-header {
	--_width-logo: calc(160rem / 16);
	--_offset-logo: calc(10rem / 16);

	margin-block-start: calc(20rem / 16 + var(--_offset-logo));
	margin-block-end: var(--_offset-logo);
	display: grid;
	grid-template-columns:
		max(calc(50vw - var(--max-width-content) * 0.5), var(--padding-inline-root))
		calc(var(--_width-logo) + var(--space-500)) auto auto
		max(calc(50vw - var(--max-width-content) * 0.5), var(--padding-inline-root));
	background-color: var(--color-brand-orange);
	box-shadow: var(--box-shadow-header);
}

.o-header__logo {
	margin-block: calc(var(--_offset-logo) * -1);
	grid-column: 1 / 3;
	display: flex;
	justify-content: end;
	background-color: var(--color-brand-purple);
	box-shadow: var(--box-shadow-header);
	border-end-end-radius: var(--border-radius-xlarge);
	border-start-end-radius: var(--border-radius-xlarge);

	> a {
		display: flex;
		align-items: center;
		padding-inline: var(--space-500);
	}

	> a > img {
		inline-size: var(--_width-logo);
	}
}

.o-header__title {
	padding-block: var(--space-200);
	padding-inline: var(--space-400);
	font: var(--font-label-large);
	display: flex;
	align-items: center;
}
