.o-list-events {
	--_grid-template-columns: 2.5ch 2.2ch 1fr auto;

	margin-inline: auto;
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
	inline-size: calc(100% - var(--padding-inline-root) * 2);
	padding-inline: var(--padding-inline-root);
	font: var(--font-paragraph-large);

	> h2 {
		font: var(--font-heading-medium);
	}

	> ul {
		display: grid;
		grid-template-columns: var(--_grid-template-columns);
		column-gap: var(--space-300);
		list-style: none;
	}
	> ul > li {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
	}
	> ul > li > h3 {
		grid-column: 1 / -1;
		padding-block: var(--space-200);
		padding-inline: var(--space-100);
		font: var(--font-heading-small);
		background-color: var(--color-brand-rose);

		> small {
			display: block;
			font: var(--font-label-medium);
		}
	}
	> ul > li > ul {
		display: contents;
		list-style: none;
	}
	> ul > li > ul > li  {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
	}
	> ul > li > ul > li + li {
		border-block-start: var(--border-size-small) dashed currentcolor;
	}

	> h2 + ul {
		margin-block-start: var(--space-600);
	}

	@media (min-width: 42em) {
		--_grid-template-columns: 2.5ch 2.2ch 1fr minmax(auto, 10ch) auto;
	}
}

.o-list-events__item {
	padding-block: var(--space-200);
	padding-inline: var(--space-100);
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: var(--_grid-template-columns);
	grid-template-columns: subgrid;
	grid-auto-flow: dense;
	align-items: baseline;
	text-decoration: none;
}

.o-list-events__item-title {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	text-wrap-style: balance;

	> small {
		display: block;
		font: var(--font-paragraph-medium);
		font-weight: 400;
	}

	.o-list-events__item[data-variant="tba"] & {
		grid-column: 1 / -2;
		grid-row: 1 / 2;
	}

	.o-list-events__item:where(:focus-visible, :hover) & {
		color: var(--color-brand-orange-dark);
	}

	@media (min-width: 42em) {
		grid-column: auto;
		grid-row: auto;

		.o-list-events__item[data-variant="tba"] & {
			grid-column: 3;
			grid-row: auto;
		}
	}
}

.o-list-events__item-location {
	grid-column-start: 4;
	justify-self: end;
	@media (min-width: 42em) {
		grid-column-start: auto;
		justify-self: auto;

		.o-list-events__item[data-variant="tba"] & {
			grid-column-start: 4;
		}
	}
}

.o-list-events__item-hours {
	grid-column-start: 3;
	text-align: end;
	@media (min-width: 42em) {
		grid-column: auto;
	}
}
