/**
 * Each size should divide by 4.
 */

:root {
	/* Sizes */
	--space-000: 0;
	--space-050: calc(2rem / 16);
	--space-100: calc(4rem / 16);
	--space-150: calc(6rem / 16);
	--space-200: calc(8rem / 16);
	--space-300: calc(12rem / 16);
	--space-400: calc(16rem / 16);
	--space-500: calc(24rem / 16);
	--space-600: calc(32rem / 16);
	--space-700: calc(40rem / 16);
	--space-800: calc(52rem / 16);
	--space-900: calc(64rem / 16);
	--space-1000: calc(96rem / 16);

	/* Grid */
	--gap-inline: var(--space-500);
	--gap-block: var(--space-900);

	/* Padding */
	--padding-inline-root: var(--space-400);

	/* Margin */
	--margin-block-start-after-header: var(--space-1000);

	/* Widths */
	--max-width: calc(1600rem / 16);
	--max-width-content: calc(1104rem / 16);
	--max-width-text: calc(728rem / 16);

	--height-header: calc(80rem / 16);

	/* Borders */
	/* Use px values instead of rem */
	--border-size-small: 1px;
	--border-size-medium: 2px;

	--border-radius-small: 4px;
	--border-radius-medium: 5px;
	--border-radius-large: 6px;
	--border-radius-xlarge: 8px;

	--z-index-header: 500;

	/* Grid with max text width and option to breakout */
	--grid-template-columns-breakout:
		minmax(var(--padding-inline-root), 1fr)
		min(var(--max-width-text), calc(100vw - var(--padding-inline-root) * 2))
		minmax(var(--padding-inline-root), 1fr)
	;


	@media (max-width: 26em) {
		--space-050: calc(2rem / 16);
		--space-100: calc((4rem * 0.9) / 16);
		--space-200: calc((8rem * 0.9) / 16);
		--space-300: calc((12rem * 0.9) / 16);
		--space-400: calc((16rem * 0.8) / 16);
		--space-500: calc((24rem * 0.8) / 16);
		--space-600: calc((32rem * 0.8) / 16);
		--space-700: calc((40rem * 0.8) / 16);
		--space-800: calc((52rem * 0.8) / 16);
		--space-900: calc((64rem * 0.8) / 16);
		--space-1000: calc((96rem * 0.7) / 16);
		--height-header: calc(68rem / 16);
	}
	@media (min-width: 32rem) {
		--padding-inline-root: var(--space-500);
	}
	@media (min-width: 64em) {
		--height-header: calc(87rem / 16);
	}
}
