/**
 * Each size should divide by 4.
 */

:root {
	/* Font family */
	--font-family: 'Lufga', sans-serif;

	/* Font size */
	--font-size-heading-xxlarge: calc(88rem / 16);
	--font-size-heading-xlarge: calc(64rem / 16);
	--font-size-heading-large: calc(40rem / 16);
	--font-size-heading-medium: calc(28rem / 16);
	--font-size-heading-small: calc(20rem / 16);

	--font-size-label-xlarge: calc(24rem / 16);
	--font-size-label-large: calc(20rem / 16);
	--font-size-label-medium: calc(16rem / 16);
	--font-size-label-small: calc(14rem / 16);

	--font-size-paragraph-xlarge: calc(24rem / 16);
	--font-size-paragraph-large: calc(20rem / 16);
	--font-size-paragraph-medium: calc(16rem / 16);
	--font-size-paragraph-small: calc(14rem / 16);

	--font-size: var(--font-size-paragraph-medium);

	/* Line height */
	--line-height-heading-xxlarge: calc(88 / 40);
	--line-height-heading-xlarge: calc(64 / 40);
	--line-height-heading-large: calc(40 / 40);
	--line-height-heading-medium: calc(32 / 28);
	--line-height-heading-small: calc(24 / 20);

	--line-height-label-xlarge: calc(24 / 24);
	--line-height-label-large: calc(20 / 20);
	--line-height-label-medium: calc(16 / 16);
	--line-height-label-small: calc(14 / 14);

	--line-height-paragraph-xlarge: calc(32 / 24);
	--line-height-paragraph-large: calc(28 / 20);
	--line-height-paragraph-medium: calc(22 / 16);
	--line-height-paragraph-small: calc(18 / 14);

	--line-height: var(--line-height-paragraph-medium);

	/* Font */
	--font-heading-xxlarge: 700 var(--font-size-heading-xxlarge)/var(--line-height-heading-xxlarge) var(--font-family);
	--font-heading-xlarge: 700 var(--font-size-heading-xlarge)/var(--line-height-heading-xlarge) var(--font-family);
	--font-heading-large: 700 var(--font-size-heading-large)/var(--line-height-heading-large) var(--font-family);
	--font-heading-medium: 700 var(--font-size-heading-medium)/var(--line-height-heading-medium) var(--font-family);
	--font-heading-small: 700 var(--font-size-heading-small)/var(--line-height-heading-small) var(--font-family);

	--font-label-xlarge: 700 var(--font-size-label-xlarge)/var(--line-height-label-xlarge) var(--font-family);
	--font-label-large: 700 var(--font-size-label-large)/var(--line-height-label-large) var(--font-family);
	--font-label-medium: 700 var(--font-size-label-medium)/var(--line-height-label-medium) var(--font-family);
	--font-label-small: 700 var(--font-size-label-small)/var(--line-height-label-small) var(--font-family);

	--font-paragraph-xlarge: 400 var(--font-size-paragraph-xlarge)/var(--line-height-paragraph-xlarge) var(--font-family);
	--font-paragraph-large: 400 var(--font-size-paragraph-large)/var(--line-height-paragraph-large) var(--font-family);
	--font-paragraph-medium: 400 var(--font-size-paragraph-medium)/var(--line-height-paragraph-medium) var(--font-family);
	--font-paragraph-small: 400 var(--font-size-paragraph-small)/var(--line-height-paragraph-small) var(--font-family);

	--font: var(--font-paragraph-medium);

	/* Letter spacing */
	--letter-spacing-display: -2%;
	--letter-spacing-uppercase: 5%;

	/* Other */
	--hyphenate-limit: 5;

	@media (max-width: 28em) {
		/* Font size */
		--font-size-heading-large: calc((40rem - 7rem) / 16);
		--font-size-heading-medium: calc((28rem - 3rem) / 16);
		--font-size-heading-small: calc((20rem - 3rem) / 16);

		--font-size-label-xlarge: calc((24rem - 4rem) / 16);
		--font-size-label-large: calc((20rem - 3rem) / 16);
		--font-size-label-medium: calc((16rem - 2rem) / 16);
		--font-size-label-small: calc((14rem - 2rem) / 16);

		--font-size-paragraph-xlarge: calc((24rem - 5rem) / 16);
		--font-size-paragraph-large: calc((20rem - 3rem) / 16);
		--font-size-paragraph-medium: calc((16rem - 2rem) / 16);
		--font-size-paragraph-small: calc((14rem - 1rem) / 16);
	}
}
