/* Foundation */
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes rotate {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}
/* Naming of colors and fonts inspired by Uber Base (https://base.uber.com/6d2425e9f/p/8898fb-color-legacy/b/065744) */
:root {
	/* Color primitives */
	--color-white: hsla(0, 0%, 100%, 1);
	--color-gray-50: hsla(0, 0%, 95%, 1);
	--color-gray-100: hsla(0, 0%, 90%, 1);
	--color-gray-200: hsla(0, 0%, 80%, 1);
	--color-gray-300: hsla(0, 0%, 70%, 1);
	--color-gray-400: hsla(0, 0%, 60%, 1);
	--color-gray-500: hsla(0, 0%, 50%, 1);
	--color-gray-600: hsla(0, 0%, 40%, 1);
	--color-gray-700: hsla(0, 0%, 30%, 1);
	--color-gray-800: hsla(0, 0%, 20%, 1);
	--color-gray-900: hsla(0, 0%, 10%, 1);
	--color-gray-950: hsla(0, 0%, 5%, 1);
	--color-black: hsla(0, 0%, 0%, 1);

	--color-red-50: hsla(360, 100%, 95%, 1);
	--color-red-100: hsla(360, 100%, 90%, 1);
	--color-red-200: hsla(360, 100%, 80%, 1);
	--color-red-300: hsla(360, 100%, 70%, 1);
	--color-red-400: hsla(360, 100%, 60%, 1);
	--color-red-500: hsla(360, 100%, 50%, 1);
	--color-red-600: hsla(360, 100%, 40%, 1);
	--color-red-700: hsla(360, 100%, 30%, 1);
	--color-red-800: hsla(360, 100%, 20%, 1);
	--color-red-900: hsla(360, 100%, 10%, 1);

	--color-yellow-50: hsla(55, 100%, 95%, 1);
	--color-yellow-100: hsla(55, 100%, 90%, 1);
	--color-yellow-200: hsla(55, 100%, 80%, 1);
	--color-yellow-300: hsla(55, 100%, 70%, 1);
	--color-yellow-400: hsla(55, 100%, 60%, 1);
	--color-yellow-500: hsla(55, 100%, 50%, 1);
	--color-yellow-600: hsla(55, 100%, 40%, 1);
	--color-yellow-700: hsla(55, 100%, 30%, 1);
	--color-yellow-800: hsla(55, 100%, 20%, 1);
	--color-yellow-900: hsla(55, 100%, 10%, 1);

	/* Brand colors */
	--color-brand-orange: #F59D22;
	--color-brand-orange-dark: #E27B00;
	--color-brand-orange-dark: #D57400;
	--color-brand-purple: #262644;
	--color-brand-blue: #002b66;
	--color-brand-rose: #F3DCD8;

	/* Foundation colors */
	--color-negative: var(--color-red-400);
	--color-warning: var(--color-yellow-400);
	--color-positive: var(--color-green-400);

	/* Core colors */
	--color-background-primary: var(--color-white);
	--color-background-secondary: var(--color-gray-50);
	--color-background-tertiary: var(--color-gray-200);
	--color-background-primary-inverse: var(--color-black);
	--color-background-secondary-inverse: var(--color-gray-800);

	--color-content-primary: var(--color-brand-purple);
	--color-content-secondary: var(--color-gray-600);
	--color-content-tertiary: var(--color-gray-300);
	--color-content-primary-inverse: var(--color-white);
	--color-content-secondary-inverse: var(--color-gray-300);
	--color-content-tertiary-inverse: var(--color-gray-400);

	--color-border-opaque: var(--color-gray-200);
	--color-border-transparent: color-mix(in hsl, var(--color-black) 8%, transparent);
	--color-border-selected: var(--color-content-primary);
	--color-border-opaque-inverse: var(--color-gray-700);
	--color-border-transparent-inverse: color-mix(in hsl, var(--color-white) 8%, transparent);
	--color-border-selected-inverse: var(--color-white);

	/* Shadows */
	--box-shadow-header: 0px 4px 4px 0px #00000040;
}
@font-face {
	font-family: 'Lufga';
	src: url('../fonts/lufga-regular.woff2') format('woff2'), url('../fonts/lufga-regular.woff') format('woff');
	font-weight: 400;
	font-display: swap; /* optional for “main” font weight */
	font-style: normal;
}
@font-face {
	font-family: 'Lufga';
	src: url('../fonts/lufga-bold.woff2') format('woff2'), url('../fonts/lufga-bold.woff') format('woff');
	font-weight: 700;
	font-display: swap; /* optional for “main” font weight */
	font-style: normal;
}
:root {
	--duration-xsmall: 0s;
	--duration-small: 0s;
	--duration-medium: 0s;
	--duration-large: 0s;
	--duration-xlarge: 0s;
	--duration-rotate-loader: 0s;

	--ease-out: cubic-bezier(0.215, 0.610, 0.275, 1.000);
}
@media (prefers-reduced-motion: no-preference) {
:root {
		--duration-xsmall: 100ms;
		--duration-small: 140ms;
		--duration-medium: 200ms;
		--duration-large: 400ms;
		--duration-xlarge: 550ms;
		--duration-rotate-loader: 1000ms;
}
	}
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
	color-scheme: dark light;
}
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
body {
	min-block-size: 100%;
	min-block-size: 100dvb;
}
dialog {
	margin: auto;
	border: 0;
}
[popover] {
	border: 0;
}
a {
	color: inherit;
	text-underline-offset: 0.2ex;
}
img, picture, svg, video, canvas, audio, iframe, embed, object, summary {
	display: block;
}
img, picture, svg {
	max-inline-size: 100%;
	block-size: auto;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
iframe, fieldset {
	border: 0;
}
button {
	text-align: start;
}
button, summary {
	border: 0;
	cursor: pointer;
}
label {
	display: block;
}
input,
textarea,
button {
	font: inherit;
	line-height: inherit;
	color: inherit;
	border-radius: 0;
	border-width: 1px;
	border-style: solid;
	background-color: transparent;
}
input[type="date"],
input[type="time"] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	/* ::-webkit-calendar-picker-indicator {
		display: none;
	} */
}
input[type="date"]::-webkit-date-and-time-value, input[type="time"]::-webkit-date-and-time-value {
		text-align: inherit;
	}
textarea {
	resize: vertical;
	resize: block;
}
hr {
	border: none;
	-webkit-border-before: 1px solid currentcolor;
	        border-block-start: 1px solid currentcolor;
	color: inherit;
	block-size: 0;
	overflow: visible;
}
table {
	border-collapse: collapse;
}
nav ul {
	list-style: none;
}
:disabled, [aria-disabled="true"] {
	cursor: not-allowed;
}
:focus-visible {
	outline: 2px solid Highlight;
	outline-offset: 2px;
}
[hidden]:not([hidden="until-found"]) {
	display: none !important;
}
/**
 * Each size should divide by 4.
 */
:root {
	/* Sizes */
	--space-000: 0;
	--space-050: calc(2rem / 16);
	--space-100: calc(4rem / 16);
	--space-150: calc(6rem / 16);
	--space-200: calc(8rem / 16);
	--space-300: calc(12rem / 16);
	--space-400: calc(16rem / 16);
	--space-500: calc(24rem / 16);
	--space-600: calc(32rem / 16);
	--space-700: calc(40rem / 16);
	--space-800: calc(52rem / 16);
	--space-900: calc(64rem / 16);
	--space-1000: calc(96rem / 16);

	/* Grid */
	--gap-inline: var(--space-500);
	--gap-block: var(--space-900);

	/* Padding */
	--padding-inline-root: var(--space-400);

	/* Margin */
	--margin-block-start-after-header: var(--space-1000);

	/* Widths */
	--max-width: calc(1600rem / 16);
	--max-width-content: calc(1104rem / 16);
	--max-width-text: calc(728rem / 16);
	/* Use px values instead of rem */
	--border-size-small: 1px;
	--border-size-medium: 2px;

	--border-radius-small: 4px;
	--border-radius-medium: 5px;
	--border-radius-large: 6px;
	--border-radius-xlarge: 8px;

	--z-index-header: 500;

	/* Grid with max text width and option to breakout */
	--grid-template-columns-breakout:
		minmax(var(--padding-inline-root), 1fr)
		min(var(--max-width-text), calc(100vw - var(--padding-inline-root) * 2))
		minmax(var(--padding-inline-root), 1fr)
	;

	/* Borders */
}
@media (max-width: 26em) {
:root {
		--space-050: calc(2rem / 16);
		--space-100: calc((4rem * 0.9) / 16);
		--space-200: calc((8rem * 0.9) / 16);
		--space-300: calc((12rem * 0.9) / 16);
		--space-400: calc((16rem * 0.8) / 16);
		--space-500: calc((24rem * 0.8) / 16);
		--space-600: calc((32rem * 0.8) / 16);
		--space-700: calc((40rem * 0.8) / 16);
		--space-800: calc((52rem * 0.8) / 16);
		--space-900: calc((64rem * 0.8) / 16);
		--space-1000: calc((96rem * 0.7) / 16);
}
	}
@media (min-width: 32rem) {
:root {
		--padding-inline-root: var(--space-500);
}
	}
/**
 * Each size should divide by 4.
 */
:root {
	/* Font family */
	--font-family: 'Lufga', sans-serif;

	/* Font size */
	--font-size-heading-large: calc(40rem / 16);
	--font-size-heading-medium: calc(28rem / 16);
	--font-size-heading-small: calc(20rem / 16);

	--font-size-label-xlarge: calc(24rem / 16);
	--font-size-label-large: calc(20rem / 16);
	--font-size-label-medium: calc(16rem / 16);
	--font-size-label-small: calc(14rem / 16);

	--font-size-paragraph-xlarge: calc(24rem / 16);
	--font-size-paragraph-large: calc(20rem / 16);
	--font-size-paragraph-medium: calc(16rem / 16);
	--font-size-paragraph-small: calc(14rem / 16);

	--font-size: var(--font-size-paragraph-medium);

	/* Line height */
	--line-height-heading-large: calc(40 / 40);
	--line-height-heading-medium: calc(32 / 28);
	--line-height-heading-small: calc(24 / 20);

	--line-height-label-xlarge: calc(24 / 24);
	--line-height-label-large: calc(20 / 20);
	--line-height-label-medium: calc(16 / 16);
	--line-height-label-small: calc(14 / 14);

	--line-height-paragraph-xlarge: calc(32 / 24);
	--line-height-paragraph-large: calc(28 / 20);
	--line-height-paragraph-medium: calc(22 / 16);
	--line-height-paragraph-small: calc(18 / 14);

	--line-height: var(--line-height-paragraph-medium);

	/* Font */
	--font-heading-large: 700 var(--font-size-heading-large)/var(--line-height-heading-large) var(--font-family);
	--font-heading-medium: 700 var(--font-size-heading-medium)/var(--line-height-heading-medium) var(--font-family);
	--font-heading-small: 700 var(--font-size-heading-small)/var(--line-height-heading-small) var(--font-family);

	--font-label-xlarge: 700 var(--font-size-label-xlarge)/var(--line-height-label-xlarge) var(--font-family);
	--font-label-large: 700 var(--font-size-label-large)/var(--line-height-label-large) var(--font-family);
	--font-label-medium: 700 var(--font-size-label-medium)/var(--line-height-label-medium) var(--font-family);
	--font-label-small: 700 var(--font-size-label-small)/var(--line-height-label-small) var(--font-family);

	--font-paragraph-xlarge: 400 var(--font-size-paragraph-xlarge)/var(--line-height-paragraph-xlarge) var(--font-family);
	--font-paragraph-large: 400 var(--font-size-paragraph-large)/var(--line-height-paragraph-large) var(--font-family);
	--font-paragraph-medium: 400 var(--font-size-paragraph-medium)/var(--line-height-paragraph-medium) var(--font-family);
	--font-paragraph-small: 400 var(--font-size-paragraph-small)/var(--line-height-paragraph-small) var(--font-family);

	--font: var(--font-paragraph-medium);

	/* Letter spacing */
	--letter-spacing-display: -2%;
	--letter-spacing-uppercase: 5%;

	/* Other */
	--hyphenate-limit: 5;
}
@media (max-width: 26em) {
:root {
		/* Font size */
		--font-size-heading-large: calc((40rem - 7rem) / 16);
		--font-size-heading-medium: calc((28rem - 3rem) / 16);
		--font-size-heading-small: calc((20rem - 3rem) / 16);

		--font-size-label-xlarge: calc((24rem - 4rem) / 16);
		--font-size-label-large: calc((20rem - 3rem) / 16);
		--font-size-label-medium: calc((16rem - 2rem) / 16);
		--font-size-label-small: calc((14rem - 2rem) / 16);

		--font-size-paragraph-large: calc((20rem - 3rem) / 16);
		--font-size-paragraph-medium: calc((16rem - 2rem) / 16);
		--font-size-paragraph-small: calc((14rem - 1rem) / 16);
}
	}
/* HELPER/DEBUG */
/** DEBUG */
body[data-show-grid] {
	--_color: hsla(0, 0%, 0%, 5%);
	--_grid-vertical: calc(4rem / 16);
	--_grid-gap: var(--gap-inline);
	--_grid-column: calc((var(--max-width) - var(--_grid-gap) * 11) / 12);

	background:
		center/calc(var(--_grid-column) + var(--_grid-gap)) 100%
		linear-gradient(90deg, var(--_color) calc(var(--_grid-column) * 0.5), transparent calc(var(--_grid-column) * 0.5), transparent calc(var(--_grid-column) * 0.5 + var(--_grid-gap)), var(--_color) calc(var(--_grid-column) * 0.5 + var(--_grid-gap))),
		top/100% calc(var(--_grid-vertical) * 2)
		linear-gradient(transparent var(--_grid-vertical), var(--_color) var(--_grid-vertical));
}
/* Root */
html {
	font-family: var(--font-family);
	color: var(--color-content-primary);
	background-color: var(--color-background-primary);
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-after: var(--hyphenate-limit);
	-webkit-hyphenate-limit-before: var(--hyphenate-limit);
}
@supports (hyphenate-limit-chars: 16 8 8) {
html {
		-webkit-hyphens: auto;
		        hyphens: auto;
		hyphenate-limit-chars: calc(var(--hyphenate-limit) * 2) var(--hyphenate-limit) var(--hyphenate-limit);
}
	}
body {
	font: var(--font-paragraph-medium);
	display: flex;
	flex-direction: column;
}
html[data-no-scroll],
html[data-no-scroll] :scope {
	overflow: hidden;
	block-size: 100%;
}
/* Atoms */
.a-button-back {
	color: var(--color-brand-orange-dark);
	font: var(--font-label-medium);
	text-decoration: none;
}
.a-button-hamburger {
	-webkit-margin-start: auto;
	        margin-inline-start: auto;
	inline-size: calc(72rem / 16);
	block-size: 100%;
	display: grid;
	align-content: center;
	justify-content: center;
	row-gap: calc(7rem / 16);
	border: 0;
	border-radius: 0;
}
.a-button-hamburger > span {
		background-color: currentcolor;
		block-size: calc(3rem / 16);
		inline-size: calc(32rem / 16);
		transition-property: rotate, opacity;
		transition-duration: var(--duration-small);
	}
.a-button-hamburger:has(+ #nav-primary-list:popover-open) > span:nth-child(1) {
			rotate: 45deg;
			translate: 0 calc((3rem + 7rem) / 16);
		}
.a-button-hamburger:has(+ #nav-primary-list:popover-open) > span:nth-child(2) {
			opacity: 0;
		}
.a-button-hamburger:has(+ #nav-primary-list:popover-open) > span:nth-child(3) {
			rotate: -45deg;
			translate: 0 calc((3rem + 7rem) / 16 * -1);
		}
@media (min-width: 64em) {
.a-button-hamburger {
		display: none;
}
	}
.a-button {
	--_padding-block: var(--space-200);
	--_padding-block-start: calc(var(--space-200));
	--_padding-block-end: calc(var(--space-200) - 1rem / 16);
	--_padding-inline: var(--space-300);

	display: inline-block;
	padding-inline: var(--_padding-inline);
	padding-block: var(--_padding-block-start) var(--_padding-block-end);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: var(--letter-spacing-uppercase);
	font: var(--font-label-medium);
	color: var(--color-brand-orange-dark);
	border: var(--border-size-medium) solid currentcolor;
	border-radius: calc(1lh + var(--_padding-block) * 2);
	background-color: var(--color-background-primary);
	transition-duration: var(--duration-xsmall);
	transition-property: background-color, color, border-color;
}
.a-button[data-shape=circle] {
		padding-inline: var(--_padding-block);
		border-radius: 50%;
		text-align: center;
		min-inline-size: calc(1lh + var(--_padding-block) * 2 + var(--border-size-medium) * 2);
	}
.a-button[data-size=small] {
		--_padding-block: var(--space-100);
		--_padding-inline: var(--space-200);

		font: var(--font-label-small);
	}
.a-button[data-kind=solid] {
		color: var(--color-white);
		border-color: var(--color-brand-orange);
		background-color: var(--color-brand-orange);
	}
.a-button[data-kind=transparent] {
		color: var(--color-brand-orange);
		background-color: transparent;
	}
.a-button[data-kind=transparent-dark] {
		color: var(--color-brand-orange-dark);
		background-color: transparent;
	}
.a-button[disabled] {
		color: var(--color-content-tertiary);
		border-color: currentcolor;
	}
@media (any-pointer: fine) {
		.a-button:where(:focus-visible, :hover):not([disabled]) {
			color: var(--color-content-primary);
			border-color: var(--color-brand-orange-dark);
			background-color: var(--color-brand-orange);
			transition-timing-function: ease-out;
		}

			.a-button[data-kind=transparent]:where(:focus-visible, :hover):not([disabled]) {
				color: var(--color-content-primary);
				border-color: var(--color-brand-orange);
				background-color: var(--color-brand-orange);
			}
			.a-button[data-kind=transparent-dark]:where(:focus-visible, :hover):not([disabled]) {
				color: var(--color-white);
				border-color: var(--color-brand-orange-dark);
				background-color: var(--color-brand-orange-dark);
			}
	}
.a-caption {
	font: var(--font-label-small);
	font-weight: 400;
}
.a-heading {
	font: var(--font-heading-medium);
	text-wrap-style: pretty;
}
h1.a-heading,
.a-heading[data-size=large] {
	font: var(--font-heading-large);
}
h2.a-heading,
.a-heading[data-size=medium] {
	font: var(--font-heading-medium);
}
h3.a-heading,
.a-heading[data-size=small] {
	font: var(--font-heading-small);
}
.a-nav-item {
	display: flex;
	align-items: center;
	padding-inline: var(--space-400);
	line-height: calc(18rem / 16);
	font-size: calc(18rem / 16);
	font: var(--font-heading-large);
	font-weight: 400;
	text-decoration: none;
}
.a-nav-item[data-selected] {
		font-weight: 700;
	}
.a-nav-item:hover {
		font-weight: 700;
	}
@media (min-width: 64em) {
.a-nav-item {
		font: var(--font-label-large);
		font-weight: 400;
}
	}
.a-pagination {
	inline-size: 100%;
}
.a-pagination > ul {
		display: flex;
		justify-content: center;
		list-style: none;
		-moz-column-gap: var(--space-100);
		     column-gap: var(--space-100);
	}
.a-pagination[data-kind=dots] {
		--_size-dot: var(--space-400);
	}
.a-pagination[data-kind=dots] > ul > li > button {
			--_background-color: var(--color-background-tertiary);
			display: block;
			block-size: var(--space-800);
			inline-size: var(--space-600);
			border: 0;
			background-image: radial-gradient(circle at 50%, var(--_background-color) 50%, transparent 55%);
			background-size: var(--_size-dot) var(--_size-dot);
			background-position: center;
			background-repeat: no-repeat;
			transition-property: background-image;
			transition-duration: 400ms;
		}
.a-pagination[data-kind=dots] > ul > li > button:where(:focus-visible, :hover):not([disabled]) {
				--_background-color: color-mix(in hsl, var(--color-brand-orange-dark) 20%, var(--color-background-tertiary));
			}
.a-pagination[data-kind=dots] > ul > li > button[aria-pressed] {
				--_background-color: var(--color-brand-orange-dark);
				transition-duration: 50ms;
				transition-timing-function: cubic-bezier(0, 0, 1, 1);
			}
/**
 * Used to tag events (online / [City] / [Address])
 * … and headline on contact page
 */
.a-tag {
	font: var(--font-label-small);
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing-uppercase);
	color: var(--color-brand-orange-dark);
}
.a-tag[data-size=medium] {
		font: var(--font-label-medium);
	}
.a-tag[data-size=large] {
		font: var(--font-label-large);
		font-weight: 400;
	}
.a-visually-hidden {
	-webkit-clip-path: inset(50%) !important;
	        clip-path: inset(50%) !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
	white-space: nowrap !important;
	border: 0 !important;
}
/* Molecules */
.m-banner-orange {
	background-color: var(--color-brand-orange);
	background-image: url('/assets/images/gradient-orange.jpg');
	background-size: cover;
}
.m-banner-orange > div {
		box-sizing: border-box;
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
		padding-inline: var(--padding-inline-root);
		display: grid;
		align-items: end;
	}
.m-banner-orange > div > div {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center;
			row-gap: var(--space-400);
			-webkit-padding-before: calc(var(--padding-inline-root) + var(--space-200));
			        padding-block-start: calc(var(--padding-inline-root) + var(--space-200));
			font: var(--font-paragraph-large);
		}
.m-banner-orange > div > img {
			max-inline-size: min(calc(380rem / 16), 90vw);
		}
@media (min-width: 32em) {
		.m-banner-orange > div {
			grid-template-columns: 1fr 1fr;
		}

			.m-banner-orange > div > div {
				padding-block: var(--space-800);
			}
			.m-banner-orange > div > img {
				max-inline-size: 100%;
			}
	}
@media (min-width: 54em) {
		.m-banner-orange > div {
			-webkit-padding-start: var(--space-1000);
			        padding-inline-start: var(--space-1000);
		}
	}
.m-cite {
	-webkit-padding-start: calc(2ch - var(--border-size-medium));
	        padding-inline-start: calc(2ch - var(--border-size-medium));
	-webkit-border-start: var(--border-size-medium) solid currentcolor;
	        border-inline-start: var(--border-size-medium) solid currentcolor;
	font: var(--font-paragraph-large);
	text-wrap-style: pretty;
}
.m-cite > blockquote {
		letter-spacing: var(--letter-spacing-display);
	}
.m-cite > figcaption {
		-webkit-margin-before: var(--space-200);
		        margin-block-start: var(--space-200);
	}
.m-figure {
	margin-inline: auto;
	max-inline-size: var(--max-width-content);
}
.m-figure[data-max-width=text-width] {
		max-inline-size: var(--max-width-text);
	}
.m-figure > figcaption {
		-webkit-margin-before: var(--space-200);
		        margin-block-start: var(--space-200);
		font: var(--font-paragraph-small);
	}
m-gallery {
	max-inline-size: var(--max-width-content);
	inline-size: 100%;
	margin-inline: auto;
	display: grid;
	flex-wrap: wrap;
	justify-content: center;
}
m-gallery:focus {
		outline: none;
	}
.m-gallery__images {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	max-inline-size: 100%;
	overflow: hidden;
}
.m-gallery__images > ul {
		margin-block: 0;
		padding-inline: 0;
		display: flex;
		overflow: auto;
		list-style: none;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		scrollbar-width: none;
		cursor: grab;

	}
.m-gallery__images > ul::-webkit-scrollbar {
			display: none;
		}
.m-gallery__images > ul > li {
		flex-basis: 100%;
		flex-shrink: 0;
		scroll-snap-align: center;
	}
.m-gallery__images > ul > li > img {
			display: block;
			max-width: 100%;
			width: 100%;
			border-radius: var(--border-radius-300);
		}
.m-gallery__navigation-buttons {
	z-index: 1;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-200);
	padding-inline: var(--space-200);
	pointer-events: none;
}
.m-gallery__navigation-buttons > * {
		pointer-events: auto;
	}
.m-gallery__navigation {
	-webkit-margin-after: calc(var(--space-800) * -0.5 + var(--space-400) * 0.5);
	        margin-block-end: calc(var(--space-800) * -0.5 + var(--space-400) * 0.5);
	position: relative;
	flex-basis: 100%;
	padding-inline: var(--space-500);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.a-button {}
.m-grid {
	margin-inline: auto;
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
	inline-size: calc(100% - var(--padding-inline-root) * 2);
	padding-inline: var(--padding-inline-root);
	display: flex;
	flex-direction: column;
	row-gap: var(--space-600);
}
.m-grid > ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(calc(240rem / 16), 1fr));
		-moz-column-gap: var(--padding-inline-root);
		     column-gap: var(--padding-inline-root);
		row-gap: var(--gap-inline);
		list-style: none;
	}
.m-grid[data-text-align=center] > ul {
			text-align: center;
		}
@media (min-width: 36em) {
		.m-grid > ul {
			-moz-column-gap: var(--gap-inline);
			     column-gap: var(--gap-inline);
		}
	}
@media (min-width: 64em) {
		.m-grid > ul {
			grid-template-columns: repeat(auto-fill, minmax(calc(292rem / 16), 1fr));
		}
	}
.m-grid__item {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-200);
}
.m-grid__item > a {
		display: inherit;
		flex-direction: inherit;
		row-gap: inherit;
		text-decoration: none;
	}
.m-grid__item time {
		display: block;
		font: var(--font-label-medium);
		font-weight: 400;
	}
.m-grid__item h3 {
		font: var(--font-heading-small);
		text-wrap-style: pretty;
		transition-property: color;
		transition-duration: var(--duration-xsmall);
	}
.m-grid__item img {
		max-inline-size: calc(352rem / 16);
		inline-size: 100%;
	}
.m-grid__item img + time {
		-webkit-margin-before: var(--space-200);
		        margin-block-start: var(--space-200);
	}
.m-grid__item img + h3 {
		-webkit-margin-before: var(--space-300);
		        margin-block-start: var(--space-300);
	}
.m-grid__item > a:where(:focus-visible, :hover) h3 {
			color: var(--color-brand-orange);
		}
.m-grid[data-text-align=center] .m-grid__item img {
		margin-inline: auto;
	}
.m-iframe {
	display: grid;
	background-color: var(--color-background-secondary);
	transition-property: background-color;
	transition-duration: var(--duration-small);
}
.m-iframe > * {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
.m-iframe > :where(p, a, iframe) {
		transition-duration: inherit;
		transition-property: opacity, display;
		transition-behavior: allow-discrete;
	}
.m-iframe > button {
		border: 0;
	}
.m-iframe > p {
		align-self: center;
		text-align: center;
		text-wrap-style: balance;
		padding: var(--padding-inline-root);
		pointer-events: none;
	}
.m-iframe > p > a {
			pointer-events: auto;
		}
.m-iframe > iframe {
		inline-size: 100%;
		align-self: start;
		opacity: 0;
		visibility: hidden;
	}
.m-iframe:has(button:where(:focus-visible, :hover)) {
		background-color: hsl(from var(--color-background-secondary) h s calc(l - 3));
	}
.m-iframe[data-state=active] {
		background-color: transparent;
	}
.m-iframe[data-state=active] > :where(p, a) {
			opacity: 0;
			display: none;
		}
.m-iframe[data-state=active] > iframe {
			opacity: 1;
			visibility: visible;
		}
.m-info-list {
	display: grid;
	row-gap: var(--space-400);
}
.m-info-list > ul {
		display: inherit;
		grid-template-columns: 1fr 1fr;
		-moz-column-gap: var(--space-400);
		     column-gap: var(--space-400);
		row-gap: var(--space-400);
		list-style: none;
	}
.m-info-list > ul > li {
			text-wrap-style: pretty;
		}
.m-info-list > ul > li > a {
			text-decoration: none;
		}
.m-info-list > ul > li > a > strong {
				display: block;
				text-decoration: underline;
			}
.m-nav-primary {
	-webkit-margin-end: calc(var(--padding-inline-root) * -1);
	        margin-inline-end: calc(var(--padding-inline-root) * -1);
	block-size: var(--header-height);
}
.m-nav-primary > ul {
		color: var(--color-brand-purple);
	}
@media not (min-width: 64em) {
		.m-nav-primary > ul {
			position: fixed;
			top: calc(120rem / 16);
			block-size: calc(100vh - calc(120rem / 16) - var(--space-600) * 2);
			inline-size: 100vw;
			row-gap: var(--space-600);
			padding-block: var(--space-600);
			align-content: start;
			background-color: transparent;
			opacity: 0;
			overflow: auto;
			transition-property: opacity, display;
			transition-duration: var(--duration-xsmall);
			transition-behavior: allow-discrete;
		}

			.m-nav-primary > ul > li {
				translate: -0.5em 0;
				opacity: 0;
				transition-property: translate, opacity;
				transition-duration: inherit;
			}

				.m-nav-primary > ul > li:nth-child(1) {
					transition-delay: calc(var(--duration-xsmall) * (1 - 1) * 0.5);
				}
				.m-nav-primary > ul > li:nth-child(2) {
					transition-delay: calc(var(--duration-xsmall) * (2 - 1) * 0.5);
				}
				.m-nav-primary > ul > li:nth-child(3) {
					transition-delay: calc(var(--duration-xsmall) * (3 - 1) * 0.5);
				}
				.m-nav-primary > ul > li:nth-child(4) {
					transition-delay: calc(var(--duration-xsmall) * (4 - 1) * 0.5);
				}

			.m-nav-primary > ul:popover-open {
				display: grid;
				opacity: 1;
				transition-duration: var(--duration-medium);

				/* @starting-style {
					opacity: 0;
				} */
			}

				.m-nav-primary > ul:popover-open > li {
					opacity: 1;
					translate: 0 0;

					/* @starting-style {
						opacity: 0;
						translate: -0.5em 0;
					} */
				}
	}
@media (min-width: 64em) {
.m-nav-primary {
		justify-self: end;
}
		.m-nav-primary > ul {
			display: flex;
			block-size: 100%;
			opacity: 1;
		}
		.m-nav-primary > ul > li {
			display: flex;
		}
	}
.m-related-pages {
	display: grid;
	row-gap: var(--space-300);
	-webkit-padding-before: var(--space-300);
	        padding-block-start: var(--space-300);
	-webkit-border-before: var(--border-size-medium) solid currentcolor;
	        border-block-start: var(--border-size-medium) solid currentcolor;
}
.m-related-pages > ul {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-200);
	}
.m-teaser-text > .m-related-pages {
		-webkit-padding-before: 0;
		        padding-block-start: 0;
		-webkit-border-before: none;
		        border-block-start: none;
	}
.m-short-introduction {
	display: grid;
	-moz-column-gap: var(--space-400);
	     column-gap: var(--space-400);
	row-gap: var(--space-400);
	font: var(--font-paragraph-medium);
}
.m-short-introduction > h2 {
		grid-column: 1 / -1;
	}
.m-short-introduction > img {
		max-inline-size: calc(100% - var(--padding-inline-root) * 5);
	}
@media (min-width: 38em) {
.m-short-introduction {
		grid-template-columns: 1fr 1fr;
}

		.m-short-introduction > img {
			max-inline-size: 100%;
		}
	}
.m-stack {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-200);
}
.m-stack[data-justify=center] {
		justify-content: center;
	}
.m-teaser-home {
	-webkit-margin-before: var(--space-600);
	        margin-block-start: var(--space-600);
	margin-inline: auto;
	max-inline-size: var(--max-width);
	overflow: hidden;
}
.m-teaser-home > div {
		display: grid;
		align-items: end;
		color: var(--color-brand-rose);
		background-color: var(--color-brand-purple);
	}
.m-teaser-home > div > * {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
.m-teaser-home > div > picture > img {
		block-size: auto;
		inline-size: 100%;
		min-block-size: calc(360rem / 16);
		-o-object-fit: cover;
		   object-fit: cover;
	}
.m-teaser-home > div > div {
		display: grid;
		-moz-column-gap: 0;
		     column-gap: 0;
		row-gap: var(--space-400);
		margin-inline: auto;
		-webkit-margin-end: calc(116 / 1024 * 100%);
		        margin-inline-end: calc(116 / 1024 * 100%);
		max-inline-size: calc(352 / 1024 * 100%);
		-webkit-padding-after: var(--space-600);
		        padding-block-end: var(--space-600);
		padding-inline: var(--space-700);
		justify-items: start;
		align-content: center;
	}
.m-teaser-home > div > div > * {
			grid-column: 2 / -1;
		}
@media (max-width: 50em) {
		.m-teaser-home > div > picture > img {
			inline-size: 100%;
			-o-object-fit: cover;
			   object-fit: cover;
			-o-object-position: 100% 0;
			   object-position: 100% 0;
		}
		.m-teaser-home > div > div {
			-webkit-margin-end: calc(124rem / 16);
			        margin-inline-end: calc(124rem / 16);
			max-inline-size: calc(304rem / 16);
			row-gap: var(--space-200);
		}

	}
@media (max-width: 36em) {
		.m-teaser-home > div {
			-webkit-margin-end: calc(592rem / -16 + 90vw + calc(592rem * 0.1 / 16));
			        margin-inline-end: calc(592rem / -16 + 90vw + calc(592rem * 0.1 / 16));
		}
	}
@media (max-width: 26em) {
		.m-teaser-home > div {
			-webkit-margin-end: calc(-140rem / 16);
			        margin-inline-end: calc(-140rem / 16);
		}
		.m-teaser-home > div > picture > img {
			min-block-size: calc(312rem / 16);
		}
		.m-teaser-home > div > div {
			-webkit-margin-end: calc(124rem / 16);
			        margin-inline-end: calc(124rem / 16);
			max-inline-size: calc(240rem / 16);
		}
	}
@media (min-width: 64em) {
		.m-teaser-home > div > picture > img {
			block-size: auto;
			inline-size: 100%;
			-o-object-position: 0 0;
			   object-position: 0 0;
		}
		.m-teaser-home > div > div {
			margin-inline: auto;
			max-inline-size: calc(var(--max-width-content) - var(--space-700) * 2);
			grid-template-columns: 33vw 33vw;
			block-size: min(calc(360rem / 16), calc(320 / 1440 * 100vw));
			-webkit-padding-after: var(--space-800);
			        padding-block-end: var(--space-800);
		}
	}
@media (min-width: 90em) {
		.m-teaser-home > div > div {
			grid-template-columns: 1fr 1fr;
		}
	}
.m-teaser-home__text > h1 {
		font-size: clamp(var(--font-size-heading-small), calc(40 / 1440 * 100vw), var(--font-size-heading-large));
		line-height: calc(40 / 40);
	}
.m-teaser-home__text > p {
		font-size: clamp(var(--font-size-paragraph-small), calc(20 / 1440 * 100vw), var(--font-size-paragraph-large));
		line-height: calc(28 / 20);
	}
.m-teaser-home__text > a {
		font-size: clamp(var(--font-size-label-small), calc(16 / 1440 * 100vw), var(--font-size-label-medium));
		line-height: calc(16 / 16);
	}
/**
 * Used for blog-entry, event and knowledge
 */
.m-teaser-text {
	display: flex;
	flex-direction: column;
	row-gap: var(--space-100);
}
.m-teaser-text > address,
	.m-teaser-text > em,
	.m-teaser-text > time {
		font: var(--font-label-xlarge);
		font-weight: 400;
		text-wrap-style: balance;
	}
.m-teaser-text > em,
	.m-teaser-text > address {
		color: var(--color-brand-orange-dark);
	}
.m-teaser-text > .a-button-back + * {
		-webkit-margin-before: var(--space-500);
		        margin-block-start: var(--space-500);
	}
.m-teaser-text > h1 {
		-webkit-margin-before: var(--space-300);
		        margin-block-start: var(--space-300);
		-webkit-padding-before: var(--space-600);
		        padding-block-start: var(--space-600);
		-webkit-border-before: var(--border-size-medium) solid currentcolor;
		        border-block-start: var(--border-size-medium) solid currentcolor;
	}
.m-teaser-text > h2 {
		-webkit-margin-before: var(--space-200);
		        margin-block-start: var(--space-200);
	}
.m-teaser-text__projects {
	color: var(--color-content-secondary);
	font: var(--font-label-medium);
	font-weight: 400;
}
.m-teaser-text__projects > a {
		text-decoration: none;
	}
.m-teaser-text__projects > a:where(:focus-visible, :hover) {
			text-decoration: underline;
		}
.m-teaser {
	margin-inline: auto;
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
	inline-size: calc(100% - var(--padding-inline-root) * 2);
	padding-inline: var(--padding-inline-root);
	display: grid;
	-moz-column-gap: calc(var(--gap-inline) * 2);
	     column-gap: calc(var(--gap-inline) * 2);
	row-gap: var(--space-500);
}
.m-teaser > img {
		max-inline-size: calc(528rem / 16);
		inline-size: 100%;
		-webkit-margin-end: calc(var(--padding-inline-root) * -1);
		        margin-inline-end: calc(var(--padding-inline-root) * -1);
	}
@media (min-width: 44em) {
.m-teaser {
		grid-template-columns: 1fr 1fr;
}

		.m-teaser:has(> img) {
			grid-template-rows: auto 1fr;
		}

		.m-teaser > img {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
		}
	}
.m-teaser__text {
	grid-column-start: 1;
}
.m-text {
	max-inline-size: var(--max-width-text);
	font: var(--font-paragraph-large);
	letter-spacing: var(--letter-spacing-display);
}
.m-text a {
		transition-duration: var(--duration-xsmall);
		transition-property: color;
	}
.m-text a:where(:focus-visible, :hover) {
			color: var(--color-brand-orange-dark);
			transition-timing-function: ease-out;
		}
.m-text > h1 {
		font: var(--font-heading-large);
	}
.m-text > h2 {
		font: var(--font-heading-medium);
	}
.m-text > h3 {
		font: var(--font-heading-small);
	}
.m-text > :where(ul, ol) {
		-webkit-padding-start: 2ch;
		        padding-inline-start: 2ch;
		text-wrap-style: pretty;
		list-style-type: disc;
	}
:is(.m-text > :where(ul, ol)) li + li {
			-webkit-margin-before: var(--space-200);
			        margin-block-start: var(--space-200);
		}
.m-text > dl {
		display: grid;
		row-gap: var(--space-150);
	}
.m-text > dl > dt {
		font: var(--font-label-medium);
		font-weight: 400;
	}
.m-text > dl > dd {
		font: var(--font-label-large);
	}
.m-text > dl > dd + dt {
		-webkit-margin-before: var(--space-200);
		        margin-block-start: var(--space-200);
	}
.m-text > * + * {
		-webkit-margin-before: var(--space-400);
		        margin-block-start: var(--space-400);
	}
.m-text > * + *:where(h2, h3) {
			-webkit-margin-before: var(--space-600);
			        margin-block-start: var(--space-600);
		}
.m-text[data-text-size=large] {
		font: var(--font-paragraph-xlarge);
	}
.m-text[data-text-size=small] {
		font: var(--font-paragraph-medium);
		letter-spacing: normal;
	}
:is(.m-text[data-text-size=small] > :where(ul, ol)) li + li {
				-webkit-margin-before: var(--space-100);
				        margin-block-start: var(--space-100);
			}
.m-text[data-text-size=small] > * + * {
			-webkit-margin-before: var(--space-300);
			        margin-block-start: var(--space-300);
		}
.m-text[data-text-size=xsmall] {
		font: var(--font-paragraph-small);
		letter-spacing: normal;
	}
.m-text[data-text-size=xsmall] > * + * {
			-webkit-margin-before: var(--space-300);
			        margin-block-start: var(--space-300);
		}
.m-text[data-width=large] {
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
	}
.m-video {
  margin-inline: auto;
  max-inline-size: var(--max-width-content);
  inline-size: 100%;
}
.m-video > div {
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
.m-video > div > * {
      position: absolute;
      inset: 0;
    }
.m-video > div > iframe {
      inline-size: 100%;
      block-size: 100%;
      opacity: 0;
    }
.m-video.-animate > div {
      transition-property: border-radius;
      transition-duration: 250ms;
      transition-delay: 100ms;
    }
.m-video.-animate > div > iframe {
        transition-property: opacity;
        transition-duration: inherit;
        transition-delay: inherit;
      }
.m-video.-active > div {
    border-radius: 0;
  }
.m-video.-active > div > iframe {
    opacity: 1;
  }
.m-video__cookie-banner {
  position: relative;
  overflow: hidden;
  display: grid;
	grid-template-rows: 1fr auto;
	color: var(--color-content-primary-inverse);
	font: var(--font-label-small);
  background-color: var(--color-background-secondary-inverse);
}
.m-video__preview {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
}
.m-video__preview > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
.m-video__button-play {
	z-index: 1;
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
}
.m-video__button-play > svg {
		inline-size: calc(68rem / 16);
	}
.m-video__legal-info {
	z-index: 2;
	grid-column: 1 / -1;
	grid-row: 2 / -1;
	padding-inline: var(--space-400);
	padding-block: var(--space-300);
	background-image: linear-gradient(transparent, hsla(0, 0%, 0%, 50%) 75%);
}
/* Organisms */
.o-background {
	padding-block: var(--space-900);
	background-size: cover;
}
.o-background[data-gradient=orange] {
		background-color: var(--color-brand-orange);
		background-image: url('/assets/images/gradient-orange.jpg');
	}
.o-background[data-gradient=orange-pink] {
		background-color: var(--color-brand-orange);
		background-image: url('/assets/images/gradient-orange-pink.jpg');
	}
.o-background[data-gradient=blue] {
		background-color: var(--color-brand-purple);
		background-image: url('/assets/images/gradient-blue.jpg');
	}
@media (min-width: 87em) {
.o-background {
		display: grid;
}

		.o-background > * {
			grid-column: 1 / -1;
			grid-row: 1 / -1;
		}
	}
.o-background__illustration {
	margin-inline: auto;
	-webkit-margin-before: calc(var(--space-900) * -1 + var(--space-600));
	        margin-block-start: calc(var(--space-900) * -1 + var(--space-600));
	-webkit-margin-after: var(--space-500);
	        margin-block-end: var(--space-500);
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
}
.o-background__illustration > img {
		-webkit-margin-start: var(--padding-inline-root);
		        margin-inline-start: var(--padding-inline-root);
		inline-size: calc(144rem / 16);
	}
@media (min-width: 87em) {
.o-background__illustration {
		inline-size: 100%;
		-webkit-margin-before: calc(-32rem / 16);
		        margin-block-start: calc(-32rem / 16);
}
		.o-background__illustration > img {
			-webkit-margin-start: calc((144rem + 12rem) / -16);
			        margin-inline-start: calc((144rem + 12rem) / -16);
		}
	}
.o-blocks {
	display: grid;
	grid-template-columns: var(--grid-template-columns-breakout);
	row-gap: var(--gap-block);
}
.o-blocks > * {
		grid-column: 2 / 3;
	}
.o-blocks > :where(
		.o-list-events,
		.o-background,
		.m-teaser,
		m-gallery,
		.m-figure,
		.m-video,
		.m-banner-orange,
		.m-grid,
		.m-text[data-width=large]
	) {
		grid-column: 1 / -1;
	}
.o-blocks > :where(.a-button) {
		justify-self: start;
	}
main > .o-blocks:first-child {
		-webkit-margin-before: var(--space-1000);
		        margin-block-start: var(--space-1000);
	}
:where(.m-teaser) + .o-blocks {
		-webkit-margin-before: var(--space-1000);
		        margin-block-start: var(--space-1000);
	}
:where(.m-teaser-home) + .o-blocks {
		-webkit-margin-before: var(--space-800);
		        margin-block-start: var(--space-800);
	}
.o-blocks[data-gap=small] {
		row-gap: var(--space-600);
	}
/* DEPRECATED */
.o-blocks[data-variant=blog-entry] {
		font: var(--font-paragraph-large);
	}
.o-contact {
	max-inline-size: var(--max-width-content);
	margin-inline: auto;
	padding-inline: var(--padding-inline-root);
}
.o-contact__header {
	-webkit-margin-before: var(--space-1000);
	        margin-block-start: var(--space-1000);
	display: grid;
}
@media (min-width: 30em) {
.o-contact__header {
		grid-template-columns: 1fr 1fr;
}

		.o-contact__header > * {
			grid-column: 1 / -1;
			grid-row: 1 / -1;
		}
	}
.o-contact__header-text {
	grid-column: 1 / 2;
	-webkit-padding-after: calc(40rem / 16);
	        padding-block-end: calc(40rem / 16);
}
.o-contact__header-image {
	align-self: end;
	-webkit-margin-before: calc(-30rem / 16);
	        margin-block-start: calc(-30rem / 16);
	z-index: -1;
	margin-inline: calc(var(--padding-inline-root) * -1);
}
.o-contact__header-image > img {
		min-height: calc(112rem / 16);
		-o-object-fit: cover;
		   object-fit: cover;
		-o-object-position: 100% center;
		   object-position: 100% center;
	}
.o-contact__contact {
	-webkit-margin-before: var(--space-1000);
	        margin-block-start: var(--space-1000);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(248rem / 16), 1fr));
	-moz-column-gap: var(--gap-inline);
	     column-gap: var(--gap-inline);
	row-gap: var(--space-800);
}
.o-contact__contact > div {
		display: grid;
		align-content: start;
		row-gap: var(--space-400);
	}
.o-contact__contact > div > h2 {
		font: var(--font-label-medium);
		text-transform: uppercase
	}
.o-contact__social-media {
	display: flex;
	-moz-column-gap: var(--space-200);
	     column-gap: var(--space-200);
	list-style: none;
}
.o-contact__social-media a {
		display: block;
	}
.o-contact__social-media a:where(:focus-visible, :hover) {
			opacity: 0.7;
		}
.o-footer {
	-webkit-margin-before: auto;
	        margin-block-start: auto;
	-webkit-padding-before: var(--space-1000);
	        padding-block-start: var(--space-1000);
}
main:has(> .o-blocks:last-child > .m-banner-orange:last-child) + .o-footer {
		-webkit-padding-before: 0;
		        padding-block-start: 0;
	}
.o-footer__newsletter {
	color: var(--color-white);
	background-color: var(--color-brand-purple);
	background-image: url('/assets/images/gradient-blue.jpg');
	background-size: cover;
}
.o-footer__newsletter > div {
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
		padding-block: var(--space-900);
		padding-inline: var(--padding-inline-root);
		display: grid;
		align-items: center;
		-moz-column-gap: var(--gap-inline);
		     column-gap: var(--gap-inline);
		row-gap: var(--space-400);
	}
.o-footer__newsletter > div > img {
			justify-self: center;
		}
.o-footer__newsletter > div > div {
			display: flex;
			flex-direction: column;
			align-items: start;
			row-gap: var(--space-300);
		}
@media (min-width: 32em) {
		.o-footer__newsletter > div {
			grid-template-columns: 1fr 1fr;
		}
	}
.o-footer__sitemap {
	padding-block: var(--space-500);
	background-color: var(--color-brand-orange);
}
.o-footer__sitemap > div {
		box-sizing: content-box;
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
		padding-inline: var(--padding-inline-root);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		-moz-column-gap: var(--gap-inline);
		     column-gap: var(--gap-inline);
		row-gap: var(--gap-inline);
	}
.o-footer__sitemap > div > address {
			grid-column: 1 / 4;
			font: var(--font-paragraph-medium);
		}
.o-footer__sitemap > div > address > p {
				-webkit-margin-after: var(--space-400);
				        margin-block-end: var(--space-400);
			}
.o-footer__sitemap > div > nav {
			display: contents;
		}
@media (min-width: 50em) {
		.o-footer__sitemap > div {
			grid-template-columns: repeat(6, 1fr);
		}

			.o-footer__sitemap > div > address {
				grid-column: 1 / 4;
			}
	}
.o-footer__nav-category {
	grid-column-end: span 2;
}
.o-footer__nav-category a {
		text-decoration: none;
	}
.o-footer__nav-category a:where(:focus-visible, :hover) {
			text-decoration: underline;
		}
@media (min-width: 50em) {
.o-footer__nav-category {
		grid-column-end: span 1;
}
	}
.o-footer__social-media {
	grid-column: 4 / -1;
	grid-row-start: 1;
	justify-self: end;
}
.o-footer__social-media > ul {
		display: flex;
		-moz-column-gap: var(--space-200);
		     column-gap: var(--space-200);
	}
.o-footer__social-media a {
		display: block;
	}
.o-footer__social-media a:where(:focus-visible, :hover) {
			opacity: 0.7;
		}
@media (min-width: 50em) {
.o-footer__social-media {
		grid-column-start: auto;
		grid-row-start: auto;
		justify-self: auto;
}
	}
.o-footer__funding {
	padding-block: var(--space-500);
}
.o-footer__funding > div {
		box-sizing: content-box;
		margin-inline: auto;
		max-inline-size: var(--max-width-content);
		padding-inline: var(--padding-inline-root);
		display: grid;
		-moz-column-gap: var(--gap-inline);
		     column-gap: var(--gap-inline);
		row-gap: var(--gap-inline);
		font: var(--font-paragraph-small);
	}
.o-footer__funding > div > ul {
			list-style: none;
			display: flex;
			align-items: center;
			-moz-column-gap: var(--space-600);
			     column-gap: var(--space-600);
		}
@media (min-width: 50em) {
		.o-footer__funding > div {
			grid-template-columns: repeat(2, 1fr);
		}
	}
@keyframes translate {
	from {
		translate: 0 0;
	}
	to {
		translate: 0 var(--_inset-block-start);
	}
}
.o-header {
	--header-height: calc(60rem / 16);
	--_width-logo: calc(160rem / 16);
	--_inset-block-start: calc(10rem / 16 * -1);
	-webkit-padding-before: calc(var(--_inset-block-start) * -1 + 10rem / 16);
	        padding-block-start: calc(var(--_inset-block-start) * -1 + 10rem / 16);
}
.o-header::after {
		content: '';
		display: none;
		position: fixed;
		z-index: -1;
		inset: 0;
		block-size: calc(100vh + var(--_inset-block-start) * -1);
		opacity: 0;
		background-color: var(--color-brand-orange);
		transition-property: opacity, display;
		transition-duration: var(--duration-xsmall);
		transition-behavior: allow-discrete;
	}
.o-header:has(.m-nav-primary > ul:popover-open)::after {
			content: '';
			display: block;
			opacity: 1;

			/* @starting-style {
				opacity: 0;
			} */
		}
@media (max-width: 26em) {
.o-header {
		--header-height: calc(48rem / 16);
		--_width-logo: calc(120rem / 16);
}
	}
@media (min-height: 20em) {
.o-header {
		z-index: var(--z-index-header);
		position: -webkit-sticky;
		position: sticky;
		inset-block-start: var(--_inset-block-start);
		background-color: color-mix(in hsl, var(--color-background-primary), transparent 10%);
		-webkit-backdrop-filter: blur(10px) saturate(1.1);
		        backdrop-filter: blur(10px) saturate(1.1);
}
	}
@media (min-height: 20em) and (prefers-reduced-motion: no-preference) {
			@supports (animation-timeline: scroll()) {
.o-header {
				inset-block-start: 0;
				animation-name: translate;
				animation-timing-function: ease-out;
				animation-timeline: scroll();
				animation-range: 0 calc(3 * 80rem / 16);
				animation-fill-mode: forwards;
}
			}
		}
.o-header > div {
	display: grid;
	grid-template-columns:
		var(--padding-inline-root)
		auto
		1fr
		var(--padding-inline-root);
	box-shadow: var(--box-shadow-header);
}
@media (min-width: 30rem) {
.o-header > div {
		grid-template-columns:
			max(calc(50vw - var(--max-width-content) * 0.5), var(--padding-inline-root))
			calc(var(--_width-logo) + var(--padding-inline-root))
			1fr
			max(calc(50vw - var(--max-width-content) * 0.5), var(--padding-inline-root));
}
	}
.o-header__logo {
	grid-column: 1 / 3;
	display: flex;
	justify-content: end;
}
.o-header__logo > a {
		display: flex;
		align-items: center;
		padding-inline: var(--padding-inline-root);
	}
.o-header__logo > a > img {
		inline-size: var(--_width-logo);
	}
.o-list-events {
	margin-inline: auto;
	box-sizing: content-box;
	max-inline-size: var(--max-width-content);
	inline-size: calc(100% - var(--padding-inline-root) * 2);
	padding-inline: var(--padding-inline-root);
	font: var(--font-paragraph-large);
}
.o-list-events > h2 {
		font: var(--font-heading-medium);
	}
.o-list-events > ul {
		display: grid;
		grid-template-columns: 2.5ch 2.2ch 1fr auto;
		-moz-column-gap: var(--space-300);
		     column-gap: var(--space-300);
		list-style: none;
	}
.o-list-events > ul > li {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
	}
.o-list-events > ul > li > h3 {
		grid-column: 1 / -1;
		padding-block: var(--space-200);
		padding-inline: var(--space-100);
		font: var(--font-heading-small);
		background-color: var(--color-brand-rose);
	}
.o-list-events > ul > li > ul {
		display: contents;
		list-style: none;
	}
.o-list-events > ul > li > ul > li  {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
	}
.o-list-events > ul > li > ul > li + li {
		-webkit-border-before: var(--border-size-small) dashed currentcolor;
		        border-block-start: var(--border-size-small) dashed currentcolor;
	}
.o-list-events > h2 + ul {
		-webkit-margin-before: var(--space-600);
		        margin-block-start: var(--space-600);
	}
@media (min-width: 42em) {
		.o-list-events > ul {
			grid-template-columns: 2.5ch 2.2ch 1fr minmax(auto, 10ch) auto;
		}
	}
.o-list-events__item {
	padding-block: var(--space-200);
	padding-inline: var(--space-100);
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	grid-auto-flow: dense;
	align-items: baseline;
	text-decoration: none;
}
.o-list-events__item-title {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	text-wrap-style: balance;
}
.o-list-events__item-title > small {
		display: block;
		font: var(--font-paragraph-medium);
		font-weight: 400;
	}
.o-list-events__item:where(:focus-visible, :hover) .o-list-events__item-title {
		color: var(--color-brand-orange-dark);
	}
@media (min-width: 42em) {
.o-list-events__item-title {
		grid-column: auto;
		grid-row: auto;
}
	}
.o-list-events__item-location {
	grid-column-start: 4;
	justify-self: end;
}
@media (min-width: 42em) {
.o-list-events__item-location {
		grid-column-start: auto;
		justify-self: auto;
}
	}
.o-list-events__item-hours {
	grid-column-start: 3;
	text-align: end;
}
@media (min-width: 42em) {
.o-list-events__item-hours {
		grid-column: auto;
}
	}

/*# sourceMappingURL=index.css.map */