/* Foundation */
@import 'foundation/animations.css';
@import 'foundation/colors.css';
@import 'foundation/lufga.css';
@import 'foundation/durations.css';
@import 'foundation/reset.css';
@import 'foundation/sizes.css';
@import 'foundation/typography.css';

/* HELPER/DEBUG */
@import 'foundation/DEBUG.css';

/* Root */
@import 'components/root.css';

/* Atoms */
@import 'components/a-button-back.css';
@import 'components/a-button-hamburger.css';
@import 'components/a-button.css';
@import 'components/a-caption.css';
@import 'components/a-heading.css';
@import 'components/a-nav-item.css';
@import 'components/a-pagination.css';
@import 'components/a-tag.css';
@import 'components/a-visually-hidden.css';

/* Molecules */
@import 'components/m-banner-orange.css';
@import 'components/m-bricks.css';
@import 'components/m-cite.css';
@import 'components/m-figure.css';
@import 'components/m-gallery.css';
@import 'components/m-nav-primary.css';
@import 'components/m-stack.css';
@import 'components/m-teaser-home.css';
@import 'components/m-teaser.css';
@import 'components/m-text.css';
@import 'components/m-video.css';

/* Organisms */
@import 'components/o-article.css';
@import 'components/o-background.css';
@import 'components/o-blocks.css';
@import 'components/o-blog-entry.css';
@import 'components/o-blog.css';
@import 'components/o-event.css';
@import 'components/o-events.css';
@import 'components/o-footer.css';
@import 'components/o-header.css';
@import 'components/o-list-events.css';

/* Templates */
@import 'components/t-default.css';
